.classSearch-home-glo .h-icon{
    width: auto !important;
}

 .fieldset-articles{

  }
  
  .comment-det .ql-align-right{
  	text-align : right !important;
  }
  
  .comment-det img{
  	max-width:90%;
  }

  .fieldset-articles .article{
    padding: 7px;
    width: 97%;
    margin: 4px;
        border: 1px solid #eee;
    box-shadow: #999 1px 1px 5px;
    background: #fff;
    position: relative;
    height: 450px;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
  }

  .fieldset-articles .article .footer-article{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: #fff;
    z-index: 5;
    padding-top: 4px;
    padding-bottom: 8px;
  }

  .fieldset-articles .article .footer-article span{
    margin: 3px;
}

  .fieldset-articles .article img{
        width: 100%;
        height: 190px;
        top: 4px;
        right: 0px;
        display: block;
  }

  .fieldset-articles .article .like-icon{
      position: absolute;
      color: #aaa;
      top: 17px;
      right: 17px;
      font-size: 24px;
  }

  .fieldset-articles .article span.tag{
    padding: 2px 8px;
    background: #38a;
    border-radius: 2px;
    color: #fff;
    font-size: 13.5px;
    cursor: pointer;
    display: none;
    margin: 3px;
  }

  .fieldset-articles .article .pub-by {
    margin: 9px;
    display: none;
  }

  .fieldset-articles .article .toggle-art{
      position: absolute;
      top: auto;
  }

  .fieldset-articles .article:hover img{
      opacity: 0.3;
      transition-duration: .7s;
  }

  .fieldset-articles .article:hover .pub-by{
      -webkit-animation-name: showB; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 0.8s; /* Safari 4.0 - 8.0 */
        animation-name: showB;
        animation-duration: 0.8s;
        display: block;

  }

  .fieldset-articles .article:hover span.tag{
      -webkit-animation-name: showIB; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 0.8s; /* Safari 4.0 - 8.0 */
        animation-name: showIB;
        animation-duration: 0.8s;
        display: inline-block; 

  }

  .fieldset-articles .article:hover .toggle-art{
      top: 100px;
      background: #fff;
      -webkit-animation-name: movment; /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 0.7s; /* Safari 4.0 - 8.0 */
      animation-name: movment;
      animation-duration: 0.7s;
  }

  .right-side .NQF-freq-quest > .ow-pl-inner{
    height: auto !important;
  }

  @keyframes movment {
    from {top: 200px;}
    to {top: 100px;}
  }

  @keyframes showB {
    from {display: none;}
    to {display: block;}
  }

  @keyframes showIB {
    from {display: none;}
    to {display: inline-block;}
  }
  
.fieldset-footer {
    margin-top: 23px;
    cursor: pointer;
    color: #333;
    text-align: right;
    padding: 2px;
    border-radius: 2px;
}



.fieldset-footer-home{
    padding: 15px;
    font-size: 17px;
    width: 98%;
    margin: auto;
    font-weight: 600;
    border-radius: 2px;
    margin-top: 23px;
    cursor: pointer;
}


.fieldset-footer:hover {
    text-decoration: underline;
}

.search-input-articles .hp-search_field{
    padding-left: 0 !important;
}

.search-input-articles{
    width: 80%;
    margin: auto;
}


.divSearch-article{
    color:#333 !important;
    padding : 0 !important;
  }

  .divSearch-article .div-fsb-details .fsb-container {
      padding-left: 0; 
 }

  .divSearch-article .det-div{
    color:#666;
    /*border: 1px solid #ccc;*/
    background: #eee;
    padding: 8px;
  }

  .divSearch-article .article-img{
      border: 1px solid #ccc;
      border-bottom:none;
      /*background: #eee;*/
  }
  
  .divSearch-article .article-desc{
   /* background: #eee;
    border: 1px solid #ccc;*/
    border-top: none;
    padding-left : 5px;
    padding-right : 5px;
    color:#666;
    padding: 5px;
  }

  .divSearch-article .content-article{
      text-align: justify;
      padding: 5px;
  }