

.hp-IND{
    margin: 3px 9px !important;
}

.indicator-div-title{
    text-align: left;
    display: grid;
    grid-template-columns: 90% 10%;
}

.indicator-div-title .fat{
    font-size: 23px;
    margin-right: 6px
}

.indicator-div-title i.fa-question-circle{
    color: #38A;
}

.ind-det-but{
    text-align: right;
}

.ind-det-but button{
    border: 1.4px solid #38A;
    background: #eee;
    border-radius: 4px;
    font-size: 16px;
    color: #38A;
    padding: 3px 9px;
}

.ind-det-but button:hover{
    background: #38A;
    color: #EEE;
}

.notif_info_header{
    grid-template-columns:10% 40% 50%;
    display: grid;
    font-family: 'Arial Italique', 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: italic;
    font-size: 12px;
    padding-bottom: 6px;
}
.sf_notif{
    font-size: 28px;
    margin-top: -5px;
    position: inherit;
    color:#9a9898;
}
.notificone_:before {
	 content: "\f0e0";
}
.notificone_EMAIL:before {
	 content: "\f0e0";
}
.notificone_FCM:before {
	content: "\f013";
}
.notificone_SMS:before {
	     content: "\f7cd";
}
.email_to_cls{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.notif_emailSubject{
        font-weight: bold;
}
#dashboardArchitect  .ow-pagination-bar {
        height: 43px;
    overflow: hidden;
}

#dashboardArchitect button.ow-button.float{
    margin-left: 80%;
    position: relative;
}
#dashboardArchitect .dashboardArchitect_serach_Button {
    color: #757777 !important;
}
button.ow-button.dashboardArchitect_serach_Button {
    padding: 3px 0.75rem;
    border: 1px solid var(--form-button-fg);
    outline: none;
}
#gobalModelSearch  .ow-pagination-bar {
        height: 43px;
    overflow: hidden;
}


#gobalModelSearch button.ow-button.float{
    margin-left: 80%;
    position: relative;
}
#gobalModelSearch .gobalModelSearch_Button {
    color: #757777 !important;
}
button.ow-button.gobalModelSearch_Button {
    padding: 3px 0.75rem;
    border: 1px solid var(--form-button-fg);
    outline: none;
}
#gobalModelSearch .date_title{
padding-top: 7px;padding-left: 32px;   
 font-family: 'Arial Italique', 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: italic;
    font-size: 12px;
}
#gobalModelSearch .inforow_0{
grid-template-columns: 28px 94%;
    display: grid;
}
#gobalModelSearch .inforow_1{
grid-template-columns: 82% 18%;
display:grid;
}
#gobalModelSearch .inforow_2{
    padding-top: 5px;
    padding-left: 30px;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #666666;
}
#gobalModelSearch .icon_acceedossier{
font-size:30px;
color: #a7a3a3;
cursor: pointer;
}
#gobalModelSearch .icon_pc{
    margin-right: 0px;
    font-size: 20px;
    color: #a7a3a3;
}
#gobalModelSearch .info_town{
    
     
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #999999;
}
#gobalModelSearch .inforow_3{
    padding-left: 30px;
}
#gobalModelSearch .inforow_4{
    padding-left: 30px;
    color: #3388AA;
}
#gobalModelSearch .inforow_5{
grid-template-columns: 10% auto 10%;
    text-align: center;
    display: grid;
    padding-bottom: 5px;
}
#gobalModelSearch .main_search{
font-family: 'Roboto Regular', 'Roboto';
}