.last-log .hp-text-input>.ow-field-input-side>.ow-field-input-line {
    /* border: 2px solid #4f7ab6; */
    border-radius: 0px; 
    height: 40px;
}
.last-log .hp-bag-input {
    background: none;
    border: none;
    border-radius: 3px;
    color: var(--fg1);
    float: left;
    display: block;
    font-size: 20px;
    height: 40px;
    width: 12%;
    line-height: 156%;
    text-align: center;
}

.last-log .hp-sbox-text a,.hp-sbox-text i {
    color: inherit !important;
}

.last-log .hp-sbox-text:hover{
    color: #38a;
}

.last-log{
    color: #777 !important
}

.last-log .hp-box-small-title {
    display: block;
    font-size: 1.2rem;
    margin: 0.3rem auto;
    padding: 0.15rem 0rem;
    margin-bottom: 0;
    text-align: left;
}

.card-bx box-text {
    font-size: 0.9rem;
    padding: 0.15rem 1rem;
    display: block;
    color: rgb(100, 100, 100);
}

.height-973{
    height: 97.3% !important;
}

.h-icon{
    height: 5rem !important;
    font-size: 4rem !important;
    width:50px;
}

.link-div-ref{
    text-align: right;
    width: 56%;
    margin: auto;
    font-size: 12px;
    text-decoration: underline;
}

.ow-button.hp-search_field_icon {
    height: 59px;
    border-radius: 9px;
    font-weight: bold;
    letter-spacing: 1.1px;
    background: var(--form-button-fg);
    color: white;
    width: 59px;
    margin: 4px;
}


/* external css: flickity.css */

#css-script-menu{position:absolute;height:90px;width:100%;top:0;left:0;border-top:5px solid #16a1e7;background:#fff;-moz-box-shadow:0 2px 3px 0 rgba(0,0,0,.16);-webkit-box-shadow:0 2px 3px 0 rgba(0,0,0,.16);box-shadow:0 2px 3px 0 rgba(0,0,0,.16);z-index:999999;padding:10px 0;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}.css-script-center{max-width:960px;margin:0 auto}.css-script-center ul{width:212px;float:left;line-height:45px;margin:0;padding:0;list-style:none}.css-script-center a{text-decoration:none}.css-script-ads{max-width:728px;height:90px;float:right}.css-script-clear{clear:both;height:0}#carbonads{font-family:-apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen-Sans,Ubuntu,Cantarell,helvetica neue,Helvetica,Arial,sans-serif}#carbonads{display:block;overflow:hidden;max-width:728px;position:relative;font-size:22px;box-sizing:content-box}#carbonads>span{display:block}#carbonads a{color:#111;text-decoration:none}#carbonads a:hover{color:#000}.carbon-wrap{display:flex;align-items:center}.carbon-img{display:block;margin:0;line-height:1}.carbon-img img{display:block;height:90px;width:auto}.carbon-text{display:block;padding:0 1em;line-height:1.35;text-align:left}.carbon-poweredby{display:block;position:absolute;bottom:0;right:0;padding:6px 10px;text-align:center;text-transform:uppercase;letter-spacing:.5px;font-weight:600;font-size:8px;border-top-left-radius:4px;line-height:1;color:#ccc!important}@media only screen and (min-width:320px) and (max-width:759px){.carbon-text{font-size:14px}}

/*
	SimpleSlider v1.4.1
	Simple responsive slider created in pure javascript.
	https://github.com/michu2k/SimpleSlider

	Copyright 2017 Michał Strumpf
	Published under MIT License
*/
.simple-slider{width:100%;height:500px;overflow:hidden;box-sizing:border-box;z-index:0;position:relative}.simple-slider .slider-wrapper{height:100%;position:relative;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.simple-slider .slider-slide{background-size:cover;background-repeat:no-repeat;background-position:center top;height:97%;float:left;position:relative}.simple-slider .slider-btn{width:30px;height:50px;top:50%;cursor:pointer;background-repeat:no-repeat;position:absolute;-webkit-transform:translate(0,-50%);transform:translate(0,-50%)}.simple-slider .slider-btn.slider-btn-prev{left:20px;background-image:url(../img/prev.svg);background-position:left}.simple-slider .slider-btn.slider-btn-next{right:20px;background-image:url(../img/next.svg);background-position:right}