/* start procedure  */
.NQF-edit-float .ow-field-boolean-container .ow-field-core{
    margin-top : 18px;
}

button.ow-button.PCD-button-signup-header{
    background-color: #F0F0F0;
    color: var(--edit-button);
    border: 1px solid var(--edit-button);
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    outline: none;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
}
button.ow-button.PCD-button-signup-header:hover{
    background-color: #ffffff;
}
.div-det-acc .accp{
    width: 85%;
    margin: auto;
    font-size: 15px;
    color: #999999
}
.PCD-hr-acc{
    margin: auto !important;  
    margin-top: 1em !important;
    margin-bottom: 3em !important;
}

.PCD-hp-box {
    display: block;
    padding: 1.25rem;
    margin: 10px 2rem;
    color: #999999;
    background-color: white;
    border-radius: 2px;
    box-shadow: 3px 3px 3px #0004;
    border: 1px solid #DDD; 
    text-align: center;
    height: 100%;
    box-sizing: border-box;
 } 
.PDC-prag-p + .PDC-prag-pp  { margin-top: 10px; }
/* start btn moteur recherche */
.PDC-btn-container-right .ow-btn-container{
    text-align: right !important;
}
.PCD-moteur-search {
    background: #38A !important;
    color: white !important;
}
/* end btn moteur recherche */

/* icon size */
.PCD-vpanel-body-icon i{ 
    font-size: 10rem;   
}

/*  */
.PCD-tooltip{
    float: right;
    font-size: 1em !important;
    color: #38A;  
}
.PCD-filtre-scf{
    font-size: 13px;
    color: #999999;
    float: right;
    margin: 0.5em 2rem !important;
}

.PCD-parent-ann{
    display: grid;
    grid-template-columns: 12% auto 5%;
}
.PDC-hov-title >  .ow-pl-toolbar .ow-label-pl:hover{
    color: #f93 !important; 
    cursor: pointer;
}
/*  */
/* end procedure  */

/* start Non decrit */
.PCD-not-described{
    background: #666666;
    padding: 1.3em 0.3em;
    color: #FFF;
}
.PCD-not-described p{
    margin-bottom: 0.3em !important;
}

.PCD-not-described i{
    font-size: 28px;
}

  ul.dashed {
    list-style-type: none;
  }
  ul.dashed > li {
    text-indent: -5px;
  }
  ul.dashed > li:before {
    content: "-";
    text-indent: -5px;
    margin-right: 3px;
  }
 /* start Non decrit */
 /* start NQF */
.DC-Customized-fields-NQF .ow-field-input-line{
    border: unset;
    border-bottom: 1.5px solid #DDD;
	}
	
    .DC-Customized-fields-NQF .ow-field-core.labelAlign-float{
        margin-left: 3em !important;
        margin-right: 3em !important;
    }
    .DC-btn-filtrer-NQF{
        background-color: white!important;
        border-radius: 0px !important;
        color: #757575 !important;
        padding-bottom: 0px !important;
    }
    .NQF-btn-color-normal{
        border-bottom: 1px solid #555 !important;
    }
    .ow-button.usage_r.DC-btn-filtrer-NQF{
        padding: 0 !important;
    }
    
    .NFQ-all-quest{
    margin-top: 2em;
    box-shadow: 3px 3px 3px rgba(102, 102, 102,0.34);
    
}
    
    .NQF-vue-question{
        margin: 0em 0.5em;
        border: 1px solid #DDD;
        box-shadow: 3px 3px 3px rgba(102, 102, 102,0.34);
        border-radius: 2px;
        padding: 0.5em 2em;
        font-size: 13px;
        color: #757575;
    }
    .NQF-btn-color .ow-btn-label{
        color: #38A;
    }
    .NQF-btn-alg .ow-btn-container{
        text-align: right
    }
    .NQF-btn-color-blue{
        border-bottom: 1px solid #38A !important;
    }
    .NQF-btn-alg{
        padding-bottom: 1em;
    }
    .NQF-horizontal-line{
        height: 1px !important;
        border: none;
        background-color: #e3e4e5;
        flex: 1;
        margin-top: 8px;
        margin-bottom: 8px;
        margin: 0 20%;
    }
    
    .NFQ-mgn-bt{
    margin-bottom: 1em;
	}
	.NFQ-click-btn:hover{
    cursor: pointer;
    color: #38A;
	}
	
	.NQF-shadow .ow-label-pl, .pcd-header-NQF .ow-label-pl{
    color: #999;
	}
	.pcd-header-NQF .ow-pl-inner{
	    padding: 2em !important;
	}
	.NQF-shadow {
	    box-shadow: 3px 3px 3px rgba(102, 102, 102,0.34) !important;
	    margin: 1em 0 !important;
    }
    
    .NQF-edit-playlist,.NFQ-all-quest,.NQF-vue-question{
        display: none;
    }


/* start left field */	
.NFQ-fieldset{
    display: block;
    padding: 1.25rem;   
    color: #999999;
    background-color: white;
    border-radius: 2px;
    text-align: center;
    height: 100%;
    box-sizing: border-box;
}
.NFQ-fa-style{
    font-size: 20px;
    line-height: .75em;
    vertical-align: -15%;
    margin: auto;
    margin-right: 4px;
}
.NFQ-end{
    font-size: 11px;
    float: right;
    color: #38A;
    text-decoration: underline;
    cursor: pointer;

}
/* start left field */

.NQF-freq-quest > .ow-pl-inner{
    height: 1077px;
    overflow: auto;
}

.det-article-fieldset2.NQF-freq-quest > .ow-pl-inner{
	height:auto !important;
}

/*added */
.NQF-new-quest-btn{
    text-align: center !important ;
}

.NQF-new-quest-btn .ow-vl-inner .ow-btn-container{
    text-align: center !important ;
    display: inline-block;
}
.NQF-new-quest-btn .ow-button {
    background: var(--form-button-hover-bg) !important;
    color: var(--form-button-hover-fg) !important;
}
.NQF-shadow .ow-label-pl, .NQF-header-NQF .ow-label-pl{
    color: #999;
}
.NQF-header-NQF .ow-pl-inner{
        padding: 10px 2em 2em 2em !important;
        
}

.NQF-quest-delete{
    grid-template-columns: auto 5%;
    display: grid;
    grid-column-gap: 1em;
}
.NFQ-close-quest:hover{
    
    color:red;
    cursor: pointer;
}

.NFQ-load-img{
    text-align: center;
}

.NQF-vue-ref{
        margin: 0em 0.5em;
        border: 1px solid #DDD;
        box-shadow: 3px 3px 3px rgba(102, 102, 102,0.34);
        border-radius: 2px;
        padding: 0.5em 2em;
        font-size: 13px;
        color: #757575;
    }

.NQF-prev-quest >span{
    display: block;
    margin: 8px 0;
}
/*end */
/*end NQF*/