@media screen and (max-width: 900px) {

    .mobile-height-0{
        height: 0px !important;
    }
    
    .mobile-height-auto{
        height: auto !important;
    }    

    .hp-search_field{
        margin: 0 !important;
        padding-left : 0 !important;
    }

    .classSearch-2 .pagination-new-style{
        display: block;
    }

    .NQF-freq-quest > .ow-pl-inner{
        height: auto !important;
    }

    .divSearch-article .fsb-container{
        padding: 13px !important;
    }

    button.send-comment{
        float: none !important;
        margin: auto !important;
        display: block !important;
    }

    .divSearch-article .det-div{
        color:#333;
        padding: 8px;
        font-size:15px;
      }

    .reseau-ss{
        text-align: left !important;
    }

    .comments-list .grided-mobile{
        grid-template-columns: 63px auto !important;
        display: grid !important;
        font-size: 14px !important;
    }


    .comments-list .comment-user-img img{
        width: 46px !important;
    }

    .size955 {
        width: 100%;
    }

    .simulator .simulator-qr {
        margin: auto !important;
        margin-left: 0px !important;
        position: relative;
        height: auto !important;
        
    }

    .simulator .simulator-qr .next-button button{
        margin-bottom: 4px !important;
        height: auto !important;
        margin-left: 0;
    }
    
    .simulator .simulator-sub {
        padding: 10px 15px !important;
    }

    .docs-container-div .doc-item .doc-name div,.docs-comp-container .doc-item .doc-name div,.docs-sort-container .doc-item .doc-name div,.docs-fac-container .doc-item .doc-name div{
        width: 250px !important;
        right:0 !important;
    }
    
    .full-search-list-item{
        height: auto !important;
    }

    .full-search-list-item .item-body-button{
        float: none !important;
        display: block;
        margin: auto
    }

    .video-iframe {
        height: auto;
        margin: 9px 0 9px 0;
    }

    .height-mobile-10{
        height: 10px !important;
    }

    .height-mobile-20{
        height: 20px !important;
    }

    .div-main-icons {
        width: 100%;
        margin: auto;
    }

    .support-html{
        display: block;
        font-size: 20px !important;
        margin-bottom: 12px !important;
    }

    .classSearch-4 .iframe-tab iframe{
        height: auto !important;
    }

    .classSearch-1 .full-search-list-item{
        margin-top: 0 !important;
        padding-top:0 !important;
    }

    .classSearch-1 .full-search-list-item .item-title{
        top: 71px !important;
    }

    .classSearch-1 .full-search-list .full-search-list-item .item-body{
        margin-top: 0 !important;
    }

    .classSearch-1 .full-search-list .full-search-list-item .item-body .item-body-title{
        font-size: 14px;
    }

    .type-demande{
        display: grid !important;
        grid-template-columns: 25% 75% !important;
        width: 100%;
        height: auto;
        margin: 9px auto;
        font-size: 13px;
    }

    .type-demande i{
        font-size: 30px;
    }

    #ranking-table td,#ranking-table2 td{
        font-size: 12px;
    }

    #ranking-table td.rank-dl,#ranking-table td.rank-dg,#ranking-table td.rank-at,#ranking-table td.rank-fs,#ranking-table td.rank-es{
        display: none;
    }

    /* #ranking-table2 td.rm{
        display: none;
    }  */

    .ranking-bar10-U .div-1-top10 span{
        font-size : 12px !important;
        line-height: 12px !important;
    }

    .ranking-bar10-U .div-3-top10 div{
        width: 45% !important;
    }
    
    .ranking-bar10-U .top-10-small{
        display:grid;
        grid-template-columns: 65% 5% 30%;
    }

    .ranking-bar10-E .div-1-top10 span{
        font-size : 12px !important;
        line-height: 12px !important;
    }

    .ranking-bar10-E .div-3-top10 div{
        width: 45% !important;
    }
    
    .ranking-bar10-E .top-10-small{
        display:grid;
        grid-template-columns: 65% 5% 30%;
    }
    
    .legend-region .lg{
        display:grid;
        grid-template-columns: 50% 50% !important;
    }

    .div-bar-1{
        width: 90%;
    }

    .div-bar-2{
        width: 90%;
    }

    #ranking-table{
        display: none;
    }

    #ranking-table2 .commune-td{
        font-size: 12px !important;
        padding-left: 0px !important;
    }

    #ranking-table2 .first-tr{
        display: contents !important;
    }

    .dipslay-block{
        display: block;
    }

    .calcul-index{
        font-size: 13px !important;
        padding: 20px 15px !important;
        text-align: left !important;
    }

    .calcul-index img{
        max-width: 70% !important;
    }

    .autocomplete-items{
        width: 95% !important;
    }

    .classSearch-4 .hp-small{
        padding: 10px 20px !important;
    }

	.divSearch-article{
		font-size:14px !important;
	}
	
	.divSearch-article .content-article{
		text-align:left !important;
    }
    
    .filterRef-class.ow-field-core.labelAlign-float{
             margin-top: 0px; 
             margin-left: 0px;
    }

    .classSearch-0 .ow-vl-inner .stay-grid .ow-gbox-small .ow-vbox .ow-gbox,.classSearch-1 .ow-vl-inner .stay-grid .ow-gbox-small .ow-vbox .ow-gbox,.classSearch-12 .ow-vl-inner .stay-grid .ow-gbox-small .ow-vbox .ow-gbox {
        grid-template-columns: 67% 39% !important;
    }
 
    .filterRef-class .ow-field-input-select{
        font-size: 7px !important;
    }

    .ranking-fieldset .ow-btn-container{
        text-align: center;
        margin-bottom: 25px;
    }

    #ranking-table2 .err-msg-rk{
        position: absolute;
    }

}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .geo-card-gb.geo-grd .geoProtailBck {
        height: 467px !important;
        overflow: hidden !important;
    }

    .geo-card-gb.geo-grd .geoProtailBck img{
        height: auto !important; 
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .menu-geo-gis .ow-button > span {
        margin: 0.1rem 0.1rem !important;
        font-size: 15px !important; 
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 900px) {
    .simple-slider{
        height: 200px !important;
    }
    
    .body-geo-gis .geo-card-gb{
        height: auto !important;
    }

    .geo-card-gb.geo-grd .geoProtailBck {
        height: auto !important;
    }
    .hp-box-geoCov{
        margin: 0 !important;
    }

    .geoPortPop .modal-content {
        width: 95% !important;
    }

    .search-global-organisme-urba .ow-objectlist .ow-form-body .main_search .ow-pl-toolbar{
        display: block !important;
        height: auto !important;
    }

    .search-global-organisme-urba .ow-objectlist .ow-form-body .main_search .ow-pl-toolbar > div {
        width: 100% !important;
        text-align: center !important;
    }

    .upgrade-2{
        font-size:13px !important;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 1460px) and (min-width: 800px) {
    .geo-card-gb.geo-grd .geoProtailBck {
        height: 482px !important;
        overflow: hidden !important;
    }

    .menu-geo-gis .ow-button > span {
        margin: 0.1rem 0.1rem !important;
        font-size: 0.9vw !important; 
    }

    .menu-geo-gis button.ow-button {
        padding: 0.25rem 1px;
    } 
    

    .header-menu-geoprotail .mon-space{

    }

    #header-menu-geoprotail .header-grid{
        
        grid-template-columns: 280px auto !important;
    }

    #header-menu-geoprotail .header-logo img{
        width: 55px;
    }

    #header-menu-geoprotail .mini-text-logo{
        font-size: 7.5px !important;
    }

    #header-menu-geoprotail .text-logo{
        font-size: 10px !important;
    }

    .geo-card .upgrade-2{
        font-size: 13.5px !important;
    }

    .geo-card .upgrade-1-p{
        font-size: 1vw !important;
    }

    .geo-card .upgrade-1-title{
        font-size: 1.4vw !important;
    }

    .geo-card .respon-voir{
        font-size: 1.1vw !important;
    }

    .geo-card.geoCard1:hover .upgrade-grid-geoCard,.geo-card.geoCard2:hover .upgrade-grid-geoCard,.geo-card.geoCard3:hover .upgrade-grid-geoCard{
        grid-template-columns: 100% !important;
    }

    .geo-card .upgrade-icon{
        font-size: 50px !important;
        height: 65px !important;
    }

    .geo-card.geoCard1:hover .upgrade-icon,.geo-card.geoCard2:hover .upgrade-icon,.geo-card.geoCard3:hover .upgrade-icon{
        display:none;
    }

     .upgrade-1-para-title{
        font-size: 1.4vw !important;
    }

     .upgrade-1-para-p{
        font-size: 0.9vw !important;
    } 
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1430px) {
    .menu-geo-gis .ow-button > span {
        margin: 0.2rem 0.2rem;
        font-size: 14px !important;
        padding: 4px;
    }
    
}



