
.vbox-danger-msg{
    width: 90%;
    margin: auto;
}

.vbox-danger-msg i{
    color: rgb(255, 153, 0);
    font-size: 44px;
    padding-top: 5px;
}

.radar-div{
    padding-top: 15px;
}

.legend-region .lg{
    display: grid;
    grid-template-columns: 33% 34% 33%;
    font-size: 12px;
    padding-top: 32%;
    width: 92%;
    margin: auto;
}
.legend-region .lg div{
    display: grid;
    grid-template-columns: 16% 84%;
    margin-top: 6px;
}

.legend-region .lg div hr{
    height: 2px;
    width: 83%;
    background: red;
    border: none;
    margin-top: 9px;
}

.ranking-fieldset select{
    display: block;
    margin-top: 19px;
    margin-left: 1em;
    margin-right: 1em;
    width: 86%;
    height: 25PX;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    cursor: pointer;
    font-size: 14.5px;
}

.div-1-top10 span{
    padding: 2px 10px;
    text-align: right;
    display: block;
    margin: 2px;
    font-size: 13px;
    height: 27px;
}

.div-2-top10 div{
    height: 100%;
    width: 10px;
    background: #666;
}

.div-3-top10 div{
    height: 25px;
    padding: 2px 10px;
    background: #eee;
    border: 1px solid #666;
    width: 50%;
    margin: 2px;
    display: inline-block;
}

.div-3-top10 .nbr-div{
    margin-left: 3px;
    font-size: 14px;
}

.hidden{
    display: none;
}

.div-3-top10 div span{
    background: #666;
    color: #eee;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 14px;
    text-align: center;
    display: block;
    line-height: 21px;
}

.div-bar-1{
    text-align: center;
    font-size: 12px;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    width: 65%;
    margin: auto;
}


.div-bar-1 .bar{
    position: relative;
    height: 200px;
    margin: auto;
    width: 100%;
}


.div-bar-1 .bar div.bottom-div{
    width: 95%;
    margin: auto;
    left: 2.5%;
}

.div-bar-1 .bar1 div.bottom-div{
    position: absolute;
    bottom: 0;
}

.div-bar-1 .bar2 div.bottom-div{
    position: absolute;
    bottom: 0;
}

.div-bar-1 .bar3 div.bottom-div{
    position: absolute;
    bottom: 0;
}

.div-bar-1 .bar .bottom-div div:not(.cm){
    background: #eee;
    border: 1px solid;
}

.div-bar-1 .bar .bottom-div span{
    font-size: 15px;
    margin-top: 8px;
    display: block;
}

.div-bar-2{
    width: 70%;
    height: 12px;
    background: #666;
    margin: auto;
    margin-top: 4px;
    margin-bottom: 15px;
}

.blue-icon{
    color: #38A;
}

#ranking-table{
    margin: auto;
    width: 85%;
    text-align: center;
    margin-top: 33px;
}

#ranking-table td{
    border: 1px solid #ddd;
    border-left: none;
    border-right: none;
    padding: 9px 5px;
}

#ranking-table td.sp-td{
    border: 1px solid #ddd;
    color: #666;
    background: #eee;
}

#ranking-table i.fa-sort-up,#ranking-table i.fa-sort-down{
    vertical-align: top;
    cursor: pointer;
}

#ranking-table i.fa-sort-up{
    display: none;
    vertical-align: bottom;
}

.ranking-fieldset{
    text-align: left !important;
}

.ranking-fieldset .ow-btn-container{
    display: inherit;
    height: 36px;
    width: 30px;
    margin-top: 12px;
    text-align: left;
}

.ranking-fieldset .ow-btn-container button{
    border: 1.5px solid #666;
    color: #666;
}


.consultation-video {
    padding: 18px;
    border: 1px solid rgb(238, 238, 238);
}

.button-visual-down:hover{
    border: 1px solid #eee;
    border-radius: 2px;
    background: #eee;
    font-size: 15px;
    padding: 4px 10px;
    color: #38A;
}

.button-visual-down{
    border: 1px solid #38A;
    border-radius: 2px;
    background: #38A;
    font-size: 15px;
    padding: 4px 10px;
    color: #EEE;
}

.vue-video-frame{
    text-align: center
}

.attachement-vue-glo {
    display: grid;
    grid-template-columns: 90% 10%;
}

.attachement-vue-img {
    display: grid;
    grid-template-columns: 90% 10%;
}

.attachement-vue-glo .ow-field-fileUpload-container .ow-field-input-side{
    display: none;
}

.attachement-vue-img .ow-field-fileUpload-container .ow-field-input-side{
    display: none;
}

.attachement-vue-glo .att-icons{
    padding-top: 35%;
}

.attachement-vue-glo .att-icons i{
    cursor: pointer;
}
.attachement-vue-glo .att-icons .fa-link{
    display: none;
}

.attachement-vue-img .att-icons{
    padding-top: 35%;
}

.attachement-vue-img .att-icons i{
    cursor: pointer;
}
.attachement-vue-img .att-icons .fa-link{
    display: none;
}

.search-video .full-search-list-item .item-body p {
    font-size: 0.965vw;
    text-align: left;
    width: 95%;
    margin-bottom: 5px;
    margin-top: 5px;
    height: 45%;
}

.search-video .full-search-list{
    margin-bottom: 35px;
    height: 780px;
}

.search-video .full-search-list-item {
    grid-template-columns: 0% 40% 55%;
    grid-column-gap: 15px;
}

.search-video .full-search-list-item img{
    height: 100%;
    width: 100%;
}

.search-video .full-search-list-item .docthumbnail img{
    width: auto;
    height: auto;
}

.next-prev{
    margin-top: 25px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.next-prev .prev-video{
    text-align: left;
}

.next-prev .next-video{
    text-align: right;
}

.next-prev .active-video{
    color: #38a;
    cursor: pointer;
}

/*res*/
.faq-fieldset-det .pagination-new-style{
    text-align: center;
}

.faq-fieldset-det .searchGif2{
    text-align: center;
}


.faq-fieldset .full-search-list .full-search-list-item .para-faq p{
    font-size: 14px;
    text-align: left;   
}

.faq-fieldset-det .full-search-list .full-search-list-item .para-faq p{
    font-size: 14px;
    text-align: left;   
}

.text-align-left{
    text-align: left;
}

.qst-faq{
    padding: 1.25rem 40px !important;
}

.qst-faq .vpanel-body .qst-body,.qst-faq .vpanel-body .response-body{
    margin-bottom: 10px;
}

.qst-faq .vpanel-body .qst-body{
    color: #666;
    font-size: 16px;
}

.qst-faq .vpanel-body .response-body{
    font-size: 14px;
}
.qst-faq .link-footer{
    text-align: right;
}

.qst-faq .link-footer a{
    text-decoration: underline;
    font-size: 14px;
}

.qst-faq .link-footer a:hover{
    color: black;
    transition: .3s;
    text-decoration: none;
}

.hp-sec{
    height: auto !important;
}

.height-auto-vbox-first{
    height: 100% !important;
}

.height-auto-vbox-first .ow-vl-inner{
    height: 100% !important;
}

.height-auto-vbox-first .div1f{
    height: calc( (100% - 36px) * 0.53 );
}

.height-auto-vbox-first .div2f{
    height: calc( (100% - 36px) * 0.53 );
}

/*
.height-auto-vbox-first > .ow-vl-inner {
    height: auto !important;
}
*/

.last-log-info{
    line-height: 1.3;
    text-align: left;
    font-size: 0.8vw;
    width: 100%;
    padding: 0.4vw;
}

.yb-btn-home{
    display: grid;
    grid-template-columns: 20% 80%;
    color: white;
    background: #38a;
    border: none;
    border-radius: 1px;
    padding: 9px 22px;
    width: 90%;
    font-size: 17px;
    margin: 15px auto;
    cursor: pointer;
    border: 1px solid #38a;
}

.yb-btn-home:hover{
    color:#38a;
    background: white;
    transition: .3s;
}

.yb-btn-home span{
    text-align: center;
    text-transform: uppercase;
}

.yb-btn-home i{
    text-align: left;
    line-height: 102%;
    font-size: 22px;
}

.back-end-menu{
    height: 600px;
    width: 85%;
    margin: auto;
    margin-top: 100px;
}

.back-end-menu .ow-gbox{
    gap:14px;
}

.back-end-menu .ow-vl-inner{
    height: 100% !important;
}

.back-end-menu .ow-vbox .ow-html{
    height: 100%;
}

box-card:hover{
    background: #eee;
    cursor: pointer;
}

.back-end-menu box-card{
    position: relative;    
}

.back-end-menu box-card:hover{
    background: #eee;
}

.back-end-menu box-big-title{
    position: absolute;
    top: 60%;
    left: 9%;
    width: 80%;
}

.back-end-menu box-icon{
    position: absolute;
    top: 24%;
    right: 50%;
    font-size: 6rem !important;
}

.no-response-find .btn-show-support-form{
    color: white;
    background: #38a;
    border: none;
    border-radius: 2px;
    padding: 6px;
    margin: 30px;
}

.no-response-find .support-form{
    padding: 20px 0px;
    background: rgba(255, 255, 255, 0.2);
    width: 60%;
    margin: auto;
}

.no-response-find .support-form-over{
    margin: auto;
    background: #ddd;
    border-radius: 1px;
    display: none;
    border: 1px solid #999;
}

.no-response-find .title-suport-faq{
    color: #38a;
    text-transform: uppercase;
    font-size: 2vw;
    margin-bottom: 22px;
    font-weight: bolder;
}

.no-response-find .support-form .f{
    margin: 6px;
}

.no-response-find .support-form .f input{
    width: 80%;
    padding: 8px 3%;
    border-radius: 1px;
    background: #eee;
    border: none;
    color: #333;
    border: 1px solid #999;
}

.no-response-find .support-form .f textarea{
    width: 80%;
    background: #eee;
    color: #666;
    height: 117px;
    padding: 8px 3%;
    resize: none;
}

.no-response-find .support-form .f4 button{
    width: 86%;
    padding: 8px 3%;
    display: block;
    margin: auto;
    color: #38a;
    background: #eee;
    border: 1px solid #999;
}

.res-div-height{
   height: 44%; 
}

.res-sep-height{
    height:12%;
}

.last-log .hp-box-icon {
    
    font-size: 2.9vw !important;
}

/*res*/

.global-div-temp .hp-box{
    margin: 10px 1rem !important;
}

.faq-fieldset .full-search-list{
    height: auto;
}

.faq-fieldset-det .full-search-list{
    height: auto;
}

.pagination-new-style{
    padding: 10px 52px;
    color: #999;
}

.pagination-new-style .pagination-1{
    text-align: left;
}
.pagination-new-style .pagination-2{
    text-align: right;
}

.pagination-new-style .pagination-1 i{
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.pagination-new-style .pagination-1 .num-span{
    padding: 2px 13px;
    border: 1px solid #999;
    border-radius: 2px;
}

.faq-fieldset .ow-pl-toolbar{
 color: #999 !important;
 text-align: left !important;
}

.faq-fieldset-det .ow-pl-toolbar{
 color: #999 !important;
 text-align: left !important;
}

.header-div-toggle .dropdown {
    position: relative;
    display: inline-block;
}
  
.header-div-toggle .dropdown-content {
    display: none;
    position: absolute;
    background-color: #eee;
    min-width: 160px;
    box-shadow: 4px 3px 7px 0px rgba(0,0,0,0.3);
    border: 1px solid #ccc;
    z-index: 1;
    margin-top: 3.5px;
}
  
.header-div-toggle .dropdown-content a {
    font-size: 12px;
    color: #666666;
    padding: 12px 10px;
    text-decoration: none;
    text-align: left;
    display: block;
}

.header-div-toggle .dropdown-content hr{
    height: 1px;
    width: 85%;
    margin: auto;
    background: #ccc;
    border: 1px solid #eee;
}
  
.header-div-toggle .dropdown-content a:hover {
      background-color: #f1f1f1;
      color: #38a;
}
  
.folder-feature{
    width: 233%;
    position: absolute;
    margin-left: -16px !important;
    top: -10px;
    z-index: 1;
    left: 100%;
    display: none;
    padding: 1.25rem;
    margin: 10px 2rem;
    color: var(--fg1);
    background-color: white;
    border-radius: 2px;
    box-shadow: 3px 3px 3px #0004;
    border: 1px solid #DDD;
    text-align: center;
    height: 100%;
    box-sizing: border-box;
}

.folder-feature .folder-feature-body .folder-steps .no-response{
    width: 90%;
    margin: auto;
    margin-top: 6%;
    font-size: 17px;
    color: red;
    display: none;
}

.folder-feature .folder-feature-header{
    text-align: left;
}

.folder-feature .folder-feature-header div{
    text-align: left;
    display: grid;
    grid-template-columns: 94% 10%;
    padding-bottom: 5px;
}

.folder-feature .folder-feature-header hr{
    background: #ddd;
    margin: auto;
    width: 100%;
    height: 1px;
    border: 1px solid #eee;
}

.folder-feature .folder-feature-header i{
    background: #38a;
    width: 25px;
    height: 25px;
    color: #fff;
    border-radius: 50%;
    font-size: 17px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
}

.folder-feature .folder-feature-header span{
    font-size: 19px;
}
  
.folder-feature .folder-feature-body{
    padding: 20px 0px;
    display: grid;
    width: 100%;
    grid-template-columns: 10% 80% 10%;
}

.folder-feature .folder-feature-body i.fa-caret-right,.folder-feature .folder-feature-body i.fa-caret-left{
    font-size: 80px;
    line-height: 120%;
    cursor: pointer;
    text-align: center;
}

.relative-position{
    position: relative;
    height: calc( (100% - 36px) * 0.46 ) !important;
    margin-top: 2rem;
}

.folder-feature .folder-feature-body .progressbar {
    counter-reset: step;
    padding: 0;
}

.folder-feature .folder-feature-body .progressbar li {
    list-style: none;
    display: inline-block;
    width: 12.66%;
    position: relative;
    text-align: center;
    vertical-align:top;
}

.folder-feature .folder-feature-body .progressbar li span.step-date{
    font-size: 12px;
    display: block;
    color: #000;
}

.folder-feature .folder-feature-body .progressbar li span.step-title{
    font-size: 15px;
    text-transform: capitalize;
}

.folder-feature .folder-feature-body .progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 55px;
    height: 55px;
    line-height: 55px;
    border: 4px solid #aaa;
    border-radius: 100%;
    font-size: 26px;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    background-color: #fff;
  }

  .folder-feature .folder-feature-body .progressbar li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #ddd;
    top: 27.5px;
    left: -50%;
    z-index : -1;
  }
  .folder-feature .folder-feature-body .progressbar li:first-child:after {
    content: none;
  }

  .folder-feature .folder-feature-body .progressbar li.first-step:after{
    content: none;
  }

  .folder-feature .folder-feature-body .progressbar li.bf-active {
    color: green;
  }

  .folder-feature .folder-feature-body .progressbar li.bf-active:before {
    border-color: green;
  } 

  .folder-feature .folder-feature-body .progressbar li.bf-active + li:after {
    background-color: green;
  }

  .folder-feature .folder-feature-body .progressbar li.active {
    color: #38a;
  }

  .folder-feature .folder-feature-body .progressbar li.active:before {
    border-color: #38a;
    background-color: #38a;
    color: #fff;
  }

  .folder-feature .folder-feature-button{
    text-align: right;
    padding: 7px 25px;
  }

  .folder-feature .folder-feature-button button{
    color: #fff;
    border: none;
    background: #38a;
    padding: 10px;
    font-size: 15px;
    border-radius: 4px;
  }


.dashboardsearch_icone:before{
	position: relative;
	font-family: FontAwesome !important;
	content: "\f007";
	padding: 5px;
	font-size: 22px;
	top: 7px;
}


.autocomplete-items {
    width: 100%;
    cursor: pointer;
    position: relative;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 106;
    top: 0%;
    text-align: left;
    margin-top: 10px;
    left: 0;
    font-size: 15px;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: #38a !important;
    color: #ffffff !important;
}

.span-active{
    color:#fff !important;    
}

.searchList{
    display: none;
    margin-top: -30px;
    height: 430px;
}

.searchList div.searchListD{
    list-style: none;
    margin: auto;
    width: 80%;
    cursor: pointer;
    border-bottom: none;
    text-align: left;
    margin-top: 10px;
    font-size: 13.5px;
    height: 330px;    
}

.searchList .searchListD .result-item{
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #d4d4d4;
    border-left: 12px solid #38A;
    margin-top: 2px;
    height: 77px;

}

.searchList .searchListD .result-item .titleS{
    font-size:18px; 
}

.searchList .searchListD .result-item b{
    color: #38B;
}



.searchListD .result-item:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.divSearchBar{
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
}



.searchList .nbrRes {
    color: #858383;
    width: 80%;
    margin: auto;
    font-size: 12px;
    margin-bottom: -4px;
    text-align: left;
}

.search_icon{
    position: absolute;
    color: #38B;
    cursor: pointer;
    top: 535px;
    right: 80px;
    font-size: 19px;
}


.search_icon:hover{
    color: darkgrey;
}


.searchGif,.searchGif2{
    text-align: center;
    display: none;
    line-height: 50;
}

.pagination{
    margin-top: 6px;
    font-size: 14px;
    margin-bottom: 90px;
}

.pagination a,.pagination-new-style a {
  color: inherit !important;
  padding: 8px 10px;
  border-radius: 3px;
  text-decoration: none;
  transition: background-color .3s;
}

.searchList .searchP{
    margin-top: 3px;
}

.pagination a.active,.pagination-new-style a.active {
  background-color: #38B;
  color: white !important;
}

.searchList .grid-container {
    width: 1000px;    
    display: grid;
    grid-template-columns: auto auto auto;
}
.pagination-new-style a:hover:not(.active){
    background-color: #ddd;
}            
.searchList .pagination a:hover:not(.active) {background-color: #ddd;}

.searchList .second-search-bar{
    height: 63px;
    position: relative;
    margin-top: 36px;
    margin-bottom: -7px;
}

.searchList .second-search-bar input{
    border: 1.7px solid #38a;
    border-radius: 5px 0px 0px 5px;
    height: 30px;
    width: 40%;
    padding-left: 7px;
}

.searchList .second-search-bar input:focus{
     outline: none;   
}

.searchList .second-search-bar i{
    border: 1.7px solid #38a;
    color: white;
    background: #38a;
    border-radius: 0px 5px 5px 0px;
    height: 16px;
    padding: 8px;
    border-left: none;
    cursor: pointer;
}


.searchList .second-search-bar i:hover{
    color: #38a;
    background: white;
    transition: .4s;
}

.searchList .back-span{
    float: left;
    cursor: pointer;
}


.searchList .back-span i{
    border: none;
    border-radius:3px 0 0 3px;
}

.searchList i.fa-eraser{
    border-radius: 0;
    background: #ddd;
    color: #38a;
}

.searchList i.fa-eraser:hover{
    color: #000;
}


.second-search-bar .autocomplete-items{
    width: 386px;
    position: relative;
    z-index: 99;
    left: 303px;
    top: -9px;
}

.autocomplete-items span{
    color: #38a;
    font-weight: 600;
}

.relative-position .ow-vl-inner{
    height: 100%;
}

.div-main-icons .ow-vl-inner{
    height: 100%;
}



.faq-fieldset .searchGif2{
    padding: 80px;
    height: 284px;
    line-height: 0;
    display: none;
}

.faq-fieldset-det .searchGif2{
    padding: 80px;
    height: 284px;
    display: none;
}



@media (max-width: 640px) {
	
	.back-end-menu{
        height: auto;
    }

    .back-end-menu box-card{
        height: 290px;
    }

    .header-div-toggle .dropdown-content hr{
        background: #38a;
        border-color: #fff;
        width: 95%;
    }

    .header-div-toggle .dropdown-content a{
        font-size: 14px;
        color: #38a;
    }

    .no-response-find .support-form{
        width: 100%;
    }

    .no-response-find .title-suport-faq{
        font-size: 20px;
    }

    .last-log .hp-box-small-title {
        text-align: center !important;
        font-size:1.3rem !important;
    }


    .vpanel-body-icon i {
        font-size: 50vw;
    }

	.Header-signup-logo{
        display:block !important;    
    }
    
    .searchGif{
        line-height: 0;
    }

    .relative-position{
        height: auto !important;
    }

    .pagination-new-style{
        grid-template-columns: 100%;
        display: grid;
        padding: 10px 10px;
    }
    
    .pagination-new-style .pagination-1{
        text-align: center;
    }
    .pagination-new-style .pagination-2{
        text-align: center;
        margin-top: 13px;
    }
    
    .pagination-new-style .pagination-1 i{
        padding: 3px;
        margin: 5px;
    }
    
    .folder-feature{
        position: static;
        width: auto;
        margin-left: 0.6rem !important;
        margin: 4px 0.6rem;
    }

    .folder-feature .folder-feature-body ul{
        padding: 0;
    }

    .folder-feature .folder-feature-body ul li{
        display: block !important;
        width: 100% !important;
        margin-bottom: 15px; 
    }

    .full-search-list-item .item-body .item-body-button{
        position: static !important;
    }

    .folder-feature .folder-feature-body ul li:after{
        display: none;
    }

    .folder-feature .folder-feature-button{
        text-align: center;
    }

    .simulator .simulator-qr .qr{
        width:100% !important;
        padding:0 !important;
    }
    
    .simulator .docs-container .doc-item, .simulator .steps-container .doc-item, .simulator .docs-comp-container .doc-item {
        grid-template-columns: 15% 85%;
    }
    


    .simulator .simulator-qr{
        margin-left : 0px !important;
    }
    .searchList .searchListD .result-item{
        height: auto;
    }
    
    .searchList div.searchListD{
        height: auto !important;
    }
    
    .searchList{
        height: auto;
    }
    
    .searchList .second-search-bar input{
       width: 65%;
        margin-top: 10px;
    }
    
    .searchList .second-search-bar .back-span{
       display: block;
       float: none;
    }
    
    .searchList .nbrRes{
        margin-top: 40px !important;
    }
    
    .searchList .autocomplete-items{
            width: 85%;
            position: relative;
            left: 0;
            z-index: 99;
            margin: auto;
            top: 2px;
    }
}

/* from css file karazapps/karaz_ux_results/karazuxresults/model/karazuxresults/web/Karazuxresults.css  */
.vpanel-title{
    text-align: left;
    margin-bottom: 30px;
}

.vpanel-title span{
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
}
.vpanel-title img{
    width: 100%;
    display: block;
    margin-top: 8px;
    margin-bottom: 30px;
}


.vpanel-body-title{
    text-align: left;
    margin-top: -5px;
    margin-bottom: 10px;
}

.vpanel-body-title span{
     

}

.vpanel-body-title i{
    margin-right:6px;
    font-size: 20px;
}

.vpanel-body-icon i{
    font-size: 12vw;    
}



.full-search-list{
    height: 780px;
}

.full-search-list-item{
    position: relative;
    height: 173px;
    font-size: 12px;
    display: grid !important;
    grid-template-columns: 0% 30% 70%;
}

.full-search-list-item .complete-text{
    position: absolute;
    border: 1px solid black;
    font-size: 15px;
    padding: 2px 8px;
    border-radius: 2px;
    background: #f6f6f6;
    right: 0px;
    bottom: 30px;
    display:none;
}

.full-search-list-item .item-title{  
    color: white;
    width: 173px;
    height: 22px;
    background: #38a;
    transform: rotate(-90deg);
    position: relative;
    top: 55px;
    right: 97px;
    font-size: 15px;
    cursor: pointer;
}

.full-search-list-item .item-icon{
    position: relative;
}

.full-search-list-item .item-icon i.fa-file-image{
    font-size: 130px;
    color: #ccc;
}

.full-search-list-item .item-icon i.fa-cogs,.full-search-list-item .item-icon i.fa-building{
    color: white;
    background: #333;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 136px;
    line-height: 1.6;
    font-size: 24px;
    border-radius: 50%;
}

.full-search-list-item .item-body{
    text-align: left;
}



.full-search-list-item .item-body .item-body-title{
    font-size: 1.3vw;
    color: #666;
    margin-top: 7px;
    position: relative;
}

.full-search-list-item .item-body p {
    font-size: 1.2vw;
    text-align: right;
    width: 95%;
    margin-bottom: 5px;
}

.divSearch {
    height: auto !important;
}

.faq-vbox .full-search-list-item .item-body p{
    margin-bottom: 20px;    
}

.full-search-list-item .item-body .item-body-button{
    border: none;
    position: absolute;
    margin-left: 0 !important;
    margin-top:0 !important;
    margin-right: 40px !important;
}

.faq-vbox .full-search-list-item .item-body .item-body-button{
    border: none;
    position: absolute;
    bottom: 5px;
    right: 0px;
    margin-left: 0 !important;
    margin-top:0 !important;
    margin-right: 40px !important;
}


.full-search-list-item .item-body .item-body-button:hover{
    color: #666;
    background:white;
    border: 1px solid #666;
    transition: .3s;
}

.cl-orange{
    color: #f93;
}

.title-2x{
    font-size: 13px;
}

.title-4x{
    font-size: 28px;
}

.gris666{
    color: #666;
}

.full-search-list-item .item-body .c-path .p,.div-fbs-details .details-body .c-path .p{
    cursor: pointer;
}

.div-fsb-details{
    text-align: left !important;
}

.div-fsb-details .fsb-container{
    padding-left: 16px;
    display: none;
}

.div-fsb-details .details-body{
    text-align: left;
}

.div-fsb-details .c-path{
    font-size: 12px;
    margin-top: -15px;
    text-align: left;
}

.div-fsb-details p.description{
    font-size: 14px !important;
}

.div-fsb-details .tab-info i{
    font-size: 20px;
    color: #666;
}

.div-fsb-details .tab-info .tab-info-item{
    margin-bottom: 10px;
}

.header-create-account-horizontal-line {
    margin: 0px;
    height: 1px;
    border: none;
    background-color: #e3e4e5;
    flex: 1;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 3.6%;
    margin-right: 3.6%;
}


.hr-hub{
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 0% !important; 
    margin-right: 0% !important;
}

.left-box-fsb .hp-box{
    color: #ccc;
    margin: 10px 2vw !important;
}

.left-box-fsb .hp-box{
    height: auto !important;
}

.left-box-fsb{
    padding-bottom: 45px;
}

.left-box-fsb .hp-sbox-btn{
    margin-top: 20px !important;
}

.icon-margin{
    font-size: 14px;
    margin-right: 7px;
}

.consult{
    margin-top: 4px;
    margin-bottom: 8px;
}

.consult i{
    margin-right: 8px;
    font-size: 14px !important;
}

.consult-button i{
    color: #eee !important;
}

.consult-button{
    background: #666;
    width: 105px;
    height: 25px;
    border: none;
    border-radius: 5px;                
    color: #eee !important;
}

.consult-button:hover{
    background: #888;
    transition: .3s;
}

.tab-info-item-s{
    width: 60%;
    margin: 80px auto;
}

.tab-info-item-s i{
    font-size: 14px;
    color: #999 !important;
    margin-right: 5px;
}

.tab-info-item-s span.new-search,.div-fsb-details .fsb-container .p{
    cursor: pointer;
}
.div-full-search-bar .autocomplete-items{
    width: 83%;
    cursor: pointer;
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    text-align: left;
    margin-top: 10px;
    font-size: 15px;
    right: auto;
    left: auto;
    top: auto;
}

.rokhas-home{
    cursor: pointer;
}



@media screen and (max-width: 900px){
    .full-search-list .full-search-list-item{
        display: block !important;
        height: auto !important;
    }        
    
    .full-search-list .full-search-list-item .item-body{
         margin-top: 25px;   
    }
    
    .full-search-list .full-search-list-item .item-body .item-body-button{
        float: none;
    }
    
    .tab-info-item-s{
      width: 100%;   
    }
    
    .tab-info-item-s i{
     font-size: 20px !important;   
    }
    
    .grid{
        display: block !important;
    }
    
    .grid button{
        display: block !important;
        margin-bottom: 17px;
    }
    
    .div-fsb-details .tab-info i {
        font-size: 41px;
    }
    
    .hp-small{
        margin: 10px 8px !important;
    }
    
    .hp-small .hp-box{
        margin: 10px 1px !important;
    }
    
    .full-search-list{
        height: auto !important;
    }  
}



.header-menu{
    margin-left: 14%;
    display: flex;
    color: #666;
    margin-top: 11px;
    margin-right: 7%;
    justify-content: space-around;
    font-size: 14px;
}

.header-menu button{
    border: none;
    color: inherit !important;
    background: none !important;
    font-size: 14px !important;
}


.header-menu button span.ow-btn-icon{
    font-size: 18px !important;
}


.header-menu button:hover{
    color: #38a !important;
}


.header-menu button span{
    font-size: 14px !important;
}


.stat-dashbord{
    margin: auto;
    width: 95%;
}

.stat-dashbord .hp-box{
    margin: 10px 0.5rem;
}

.stat-dashbord .stat{
    padding: 20px 20px;
    display: grid;
    grid-template-columns: 40% 60%;
}


.stat-dashbord .stat i{
    font-size: 58px;
    padding: 7px;
}

.stat-dashbord .stat span{
   font-size: 23px;
    display: block;
}

.stat-dashbord .stat-div{
}

.dashbord-right .search-box{
}

.dashbord-right .d2{
    position: relative; 
}


.dashbord-right .d1{
    position: relative;
}

.dashbord-right .d1 h1,.dashbord-right .d2 h1{
    margin: 25px 0 35px 0;
}

.dashbord-right .d2 .exist-word-list-item{
    grid-template-columns: 50% 30% 10% 10%;
    display: grid;
    text-align: left;
} 


.dashbord-right .d2 tr.hide{
    background: rgba(51,136,170,0.3) !important; 
}

.dashbord-right .d2 .div{
    width: 90%;
    margin: auto;
    overflow: auto;
    max-height: 440px;
}


.dashbord-right .d2 .content{
    height: 440px;
}

.dashbord-right .d2 .word-list-load-gif{
    padding: 25%;
}

.dashbord-right .d2 .word-list{
    display: none;
}

.dashbord-right .d2 .word-list-div{
        height: 532px;
}

.dashbord-right .d2 .word-list-det{
    display: none;
}

.dashbord-right .d2 .word-list-text-avis{
    display: none;
}


.dashbord-right .d2 .word-list-det div{
    text-align: left;
}

.stat-dashbord .ow-vl-inner{
    height: auto;
}

.stat-dashbord .d1 .config-bar{
    margin-bottom: 25px;
}

.stat-dashbord .d1 .config-bar span{
    width: 38px;
    height: 38px;
    border: 1px solid #ddd;
    vertical-align: top;
    line-height: 200%;
    margin: 0px -2px;
    cursor: pointer;
    font-size: 18px;
}

.stat-dashbord .d1 canvas{
    display: block;
    margin: auto;
    height: 570px;
    width: 570px;
}

.stat-dashbord .d1 .config-bar .sp{
    
}

.stat-dashbord .d1 .config-bar .sp1{
    border-radius: 2px 0 0 2px;
}

.stat-dashbord .d1 .config-bar .sp5{
    border-radius: 0 2px 2px 0;
}

.stat-dashbord .d1 .config-bar .sp-active{
    background-color: #38a;
    color: #fff;
}

.stat-dashbord .d1 .config-bar select{
    width: 45px;
    height: 38px;
    border: 1px solid #ddd;
    margin: 0 -2px;
}

.stat-dashbord .d1 .config-bar select.s2{
   width: 260px;
}

.stat-dashbord .d1 .config-bar .separate-span{
    width: 5px;
    display: inline-block;
    background: #ddd;
}



.stat-dashbord .dashbord-right .d2 .word-list-det .div-d2 .note-div-items span{
    color: #888;
    font-weight: 600 !important;
}

.stat-dashbord .dashbord-right .d2 .mlt-search .note-div-items{
    width: 85%;
    margin: auto;
}


.last-log .ow-btn-container{
    text-align: right !important;
}

.buttonLog{
    width: 149px !important;
    height: 40px !important;
    border-radius: 5px !important;
    text-transform: uppercase;
    display: inline !important;
}

.div-main-icons{
    width: 90%; margin: auto;
}

.main-icon-title-bx{
    text-align: left;
    position: relative;
    border: 1px solid #ddd;
    width: 90%;
    height: 100%;
    padding: 21px;
    cursor: pointer;
}

.main-icon-title-bx .par{
    display:grid;
    grid-template-columns:12% 87%;
    font-size:18px;
    color:#777;
    margin: auto;
    margin-top: 25px;
    width: 90%;
}

.main-icon-title-bx .par i {
    font-size: 2.5vw;
    line-height: 120%;
    height: 100%;
    display: block;
}

.main-icon-title-bx .title
{
    margin-left: 71px;
    font-size: 1.35rem;
    font-weight: bold;
    color: var(--fg0);
}

.main{
    height: 193px;
}



.main-btn{
    margin-top: 8px;
    height: 24px;
    font-size: 14px;
    border: 1px solid #000;
    border-radius: 11px;
    float: right; 
}

.main-number{
    color: #38a;
    border: 2px solid #38a;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    line-height: 132%;
    display: block;
    font-size: 41px;
    margin: auto;
    margin-bottom: 23px;
}


.main-icon-button{
    color: #fff;
    background: #38a;
    border: none;
    padding: 9px;
    border-radius: 4px;
    margin-top: 16px;
    font-size: 16px;
}

.main-icon-title{
    width: 100%;
    margin: auto;
    display: grid;
    height: 100%;
    grid-template-columns: 100%;
    padding: 20px 0px;
    border: 1px solid #d0d0d0;
    cursor: pointer;
}

.support{
    width: 89%;
    margin: auto;
    margin-top: 48px;
}

.support .support-html{
    color: #38a;
    font-size: 23px;
}

.support .support-html span {font-weight: 900;    white-space: nowrap;}

.support .support-time{
    font-size: 12px;
    display: block;
    position: relative;
}

.support .support-html i{
    color: #777;
}

.main-icon-title:hover,.main-icon-title-bx:hover{
    background-color: #f3f3f3;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.34);
}

.main-icon-title i{
    color: #38a;
    font-size: 3vw;
    line-height: 107%;
    height: 100%;
}

.main-icon-title span{
    color: #666;
    font-size: 17px;
}

.exist-word-list-item span{
    border: 1px solid #ddd;
    border-bottom: none;
    padding: 5px 14px;
    border-radius: 0px;
}


.stat-dashbord .dashbord-right .d2  .tab {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.stat-dashbord .dashbord-right .d2  .tab td, .stat-dashbord .dashbord-right .d2  .tab th {
  border: 1px solid #eee;
  padding: 8px;
}

.stat-dashbord .dashbord-right .d2  .tab tr:nth-child(even){background-color: #fbfbfb;}


.stat-dashbord .dashbord-right .d2  .tab th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.stat-dashbord .dashbord-right .d2 .rac{
    border: 1px solid #ccc;
    background-color: beige;
    padding: 1px 5px;
    border-radius: 3px;
    margin-right: 3px;
}

.back-div {
    width: 100%;
    margin: auto;
    margin-bottom: 16px;
    color: #38a;
    cursor: pointer;
}


.back-div:hover{
    /*background: white;
    color: #38a;*/
    transition: .5s;
    color: inherit;
}


.stat-dashbord .dashbord-right .d2 .word-list-text-avis .avis-det-avis p{
    border: 1px solid #eee;
    padding: 6px;
    border-radius: 3px;
    margin-top: 3px;
    font-size: 14px;
    color: #888;
 }
.stat-dashbord .dashbord-right .d2 .word-list-text-avis .avis-det-full{
    text-align: left;
    padding: 5px 20px;
}

.stat-dashbord .dashbord-right .d2 .word-list-text-avis .avis-det-full .extract-notes{
    max-height: 240px;
    overflow: auto;
    font-size: 15px;
}

.stat-dashbord .dashbord-right .d2 .word-list-text-avis .avis-det-membre{
        margin-bottom: 11px;
        color: #333;
}
.stat-dashbord .dashbord-right .d2 .word-list-text-avis .avis-det-avis{
        color: #333;
} 

.stat-dashbord .dashbord-right .d2 .word-list-text-avis .avis-det-membre span{
    font-size: 15px;
    color: #888;
 }

.stat-dashbord .dashbord-right .d2 .word-list-text-avis .back-span{
    color: #38a;
    cursor: pointer;
    margin-left: -20px;
    margin-bottom: 27px;
    display: inline-block;
}

.stat-dashbord .dashbord-right .d2 .word-list-text-avis .back-span:hover{
    color: inherit;
    transition: .5s;
}

.stat-dashbord .dashbord-right .d2 .mlt-search{
    text-align: left;
}

.stat-dashbord .dashbord-right .d2 .mlt-search .word{
    border: 1px solid;
    border-radius: 2px 0 0 2px;
    padding: 6px;
    background: beige;
}
.stat-dashbord .dashbord-right .d2 .mlt-search .total-hits{
    border: 1px solid;
    border-radius: 0  2px 2px 0;
    padding: 6px;
    background: beige;
}

.stat-dashbord .dashbord-right .d2 .mlt-search .total-hits span{
    color: #38a;
}

.stat-dashbord .dashbord-right .d2 .mlt-search .search-info{
    grid-template-columns: 67% 33%;
    display: grid;
    width: 85%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}



.stat-dashbord .dashbord-right .search-box{
    position: relative;
}

.stat-dashbord .dashbord-right .search-box .input-bar {
    line-height: normal;
}

.stat-dashbord .dashbord-right .search-box .input-bar input{
    box-shadow: none;
    border: 1px solid #ccc;
    width: 50%;
    height: 32px;
    border-radius: 3px 0 0 3px;
    margin: 0 -2px;
    padding: 0 9px;
}

.stat-dashbord .dashbord-right  .search-box .input-bar button{
    width: 44px;
    height: 34px;
    margin: 0 -2px;
    border: 1px solid #ccc;
    background: #fff;
}

.stat-dashbord .dashbord-right .search-box .input-bar button.fa-search{
    border-radius:0 3px 3px 0;
}

.stat-dashbord .dashbord-right .search-box .input-bar button.active{
    background: #38a;
    color: #fff;
}

.stat-dashbord .dashbord-right .search-box .input-bar button:hover{
    background: #ccc;
}

.stat-dashbord .dashbord-right .hp-box i.fa-angle-down{
    position: absolute;
    right: 19px;
    top: 25px;
    text-align: center;
    background: #38a;
    color: #fff;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    line-height: 19px;
    transform: rotate(180deg);
    cursor: pointer;
}


.stat-dashbord .dashbord-right .hp-box i.down{
    transform: rotate(0deg);
}
.stat-dashbord .dashbord-right .hp-box i.down{
    transform: rotate(0deg);
}

.div-det-acc{
    text-align: left !important;
}

.div-det-acc .accp{
    width: 85%;
    margin: auto;
    font-size: 15px;
}

.div-det-acc .accp .desc{
    margin-bottom: 35px;
}

.div-det-acc .accp .acc-titles{
    height: auto;
    position: relative;
}

.div-det-acc .accp .acc-titles .acc-title{
    font-size: 18px;
    color: #333;
}

.div-det-acc .accp .acc-titles p{
    font-size: 13px;
}

.div-det-acc .accp .acc-titles button{
    background-color: #eee;
    color: black;
    border: 1px solid black;
    border-radius: 3px;
    margin: 0 20px 10px 0;
    height: 25px;
    padding: 0 11px;
}

.div-det-acc .accp .acc-titles button:hover{
    background-color: black;
    color: #fff;
    transition: .3s;
}

.div-det-acc .accp .acc-titles .ow-btn-container{
    text-align: right;
}

.div-det-acc .accp .acc-titles hr{
    width: 300px;
}

.hr-acc{
    margin: auto !important;  
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.div-det-acc .accp .acc-titles i{
    font-size: 42px;
    color: #333;
}

.div-det-acc .accp .consult-acc{
    width: 80%;
    text-align: center;
    margin: auto;
}

.div-det-acc .tags{
    text-align: center;
    margin-bottom: 10px;
}

.div-det-acc .tags a{
    font-size:13px;
    color: #38a;
}

.div-det-acc .tags a:hover{
    color:rgba(255, 153, 0, 1)
}


.fieldSets .p-list-but{
    margin-bottom: 25px;
}

.fieldSets .p-list-but span.gen-num{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #666;
    line-height: 150%;
    color: white;
    text-align: center;
    margin-top: 3px;
    font-size: 15px !important;
}

.fieldSets .p-list-but .title{
    font-size: 15px;
    color: #333;
}

.fieldSets .p-list-but p{
    font-size: 13px;
    color: #999;
    margin: 0;
    margin-top: 5px;
}

.fieldSets .p-list-but .but-orange{
    border: 1px solid #f93;
    color: #f93;
    background-color: #fff;
    padding: 1px 2px;
}

.fieldSets .p-list-but .but-orange:hover{
    color: white;
    background: #f93;
    transition: .3s;
}

.fieldSets .p-list-but .but-blue{
    border: 1px solid #38a;
    color: #38a;
    padding: 1px 2px;
    background-color: #fff;
}


.fieldSets .p-list-but .but-blue:hover{
    color: white;
    background: #38a;
    transition: .3s;
}

.fieldSets .p-list-but .inline-html,.fieldSets .p-list-but .ow-btn-container{
    display: inline;
}

.fieldSets .p-list-but .gen-num-html{
    text-align: center;
}

.fieldSets .p-list-but .gen-num-html span{
    font-size: 25px;
}

.note-danger-list-but{
    width: 80%;
    margin: auto;
}

.note-danger,.note-danger-list-but{
    margin-bottom: 27px;
}

.note-danger-list-but i{
    font-size: 15px;
}


.note-danger i{
    font-size: 28px;
}

.note-danger p,.note-danger-list-but p{
    margin: 0;
    margin-top: 2px;
    font-size: 11px;
}

.fieldSets .title-principale{
    color: #38a;
    font-size: 16px;
    margin-bottom: 32px;
    margin-top: 15px;
    margin-left: 28px;
}

.fieldSets .p-list-but .doc-icon i{
    color: #999;
    font-size: 24px;
} 

.fieldSets .p-list-but .doc-icon i.cl-orange{
    color: #999;
    font-size: 24px;
    color: #f93;
} 

.fieldSets .p-list-but .gen-num-html .fa-user-circle,.fieldSets .p-list-but .gen-num-html .fa-gavel{
    font-size: 23px;
    margin-top: 3px;
    color: #666;
}

.fieldSets .p-list-but .gen-num-html .fa-gavel{
    
}

.div-det-acc .fieldSets .ow-tabpanel-flex .ow-label-pl{
    color: #666;
}
.div-det-acc .fieldSets .ow-tabpanel-flex{
    margin-bottom: 50px;
}

.div-det-acc .fieldSets .scroll-top{
    color: #38a;
    text-align: right;
    margin-right: 15px;
    margin-bottom: 10px;
}

.div-det-acc .fieldSets .scroll-top .scroll-top-sp{
    cursor: pointer;
}

.div-det-acc .fieldSets .scroll-top .scroll-top-sp:hover{
    color: #f93;
} 

.div-det-acc .fieldSets .scroll-top .scroll-top-sp i{
    transform: rotate(90deg);
}

.div-det-acc .fieldSets .hr-fieldset hr{
    margin: auto;
    border: none;
    height: 0.7px;
    flex: 1;
    background-color: #ddd;
    width: 97%;
    margin-bottom: 27px;
    margin-top: 1px;
}

.div-det-acc .fieldSets .ow-pl-toolbar{
    border-bottom: 0;
}

.height-auto-vbox .hp-box{
    height: auto !important;
}

.height-986{
    height: 98.6% !important;
}

.back-to-acc:hover{
    color: #f93; 
    cursor: pointer;
}
.back-to-acc:hover{
    color: #f93; 
    cursor: pointer;
}

.Header-signup .Header-signup-min{
        display: none;
        background: #38a;
        padding: 2px 0px 0 13px;
}

.Header-signup .Header-signup-min .menu-bar-icon i{
    color: #fff;
    font-size: 40px;
    cursor: pointer;
    padding-top: 10px;
}

.Header-signup .Header-signup-min .menu-bar-img{
    padding-top: 5px;
}
    


@media (max-width: 640px) {
    
    .last-log-info{
        font-size: 10px;
    }

    .stay-grid .ow-gbox{
        display: grid !important;
    }
    
    .main-icon-title-bx .title{
        margin-left: 10px;
        font-size: 20px;
    }

    .main-icon-title-bx .par i {
        font-size: 30px;
    }

    .main-icon-title i {
        font-size: 40px;
    }

    .last-log .hp-box-icon{
        font-size: 3rem !important;
    }

    .item-body p{
        font-size: 14px !important;
    }

    .full-search-list-item .item-body .item-body-title {
        font-size: 16px;
    }

    .main-icon-button{
        color: #fff;
        background: #38a;
        border: none;
        padding: 9px;
        border-radius: 4px;
        margin-top: 32px;
        position: static;
    }
    
    .buttonLog {
        position: relative;
        right: 0;
        margin: auto;
    }
    
    .full-grid-small{
            display: grid;
            grid-template-columns: 100% !important;
     }
    
    .main-icon-title-bx{
        text-align: left;
        position: relative;
        border: 1px solid #ddd;
        width: 100%;
        margin-bottom: 25px;
        padding: 21px;
        cursor: pointer;
    }
    
    
    .Header-signup .Header-signup-min{
        display: block;
}

    .Header-signup .Header-signup-min .ow-vl-inner{
        display: grid !important;
}

.simulator .simulator-qr .next-button button {
    width: auto !important;
}

.simulator .simulator-qr{
    height: auto !important;
}

.simulator .simulator-qr .next-button{
    
}

.simulator .simulator-qr select{
    width: 90% !important;
    margin: auto !important;
}

    .Header-signup .Header-signup-glo{
        display: none;
    }
    
    .header-menu{
        margin: 0;
    }
    
    .vbox-button-signup-header .ow-vl-inner,.header-menu .ow-vl-inner{
        width: 100%;
        padding-left: 17px;
    }
    
    .vbox-button-signup-header button,.header-menu button{
        width: 100%;
        margin: 0;
        outline: none;
        text-align: left;
        border: none;
    }
    
    .vbox-button-signup-header button span,.header-menu button span{
        font-size: 19px !important;
        text-transform: uppercase;
    }
    
    .header-div-toggle .dropdown-content{
        position: static;
        background: #fff;
        border:none;
    }

    .header-div-toggle{
            background: #3ba5c1;
            padding: 2px 5px 18px 0px;
            box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.4);
            display: none;
    }

    .header-menu button {
        color:#f2f4f4 !important;
        margin: 5px 0;
    }

    
    .header-menu button:hover {
        color: #050f6c !important;
    }
    
    .Header-signup{
        width: 100%;
        z-index: 1000;
    }
    
    .vpanel-title{
        padding: 8px;
        margin-bottom :0px;
    }
    
    .pagination a {
        padding: 8px 7px;
    }

    .pagination {
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .div-det-acc{
        padding: 0 !important;
    }
   
    .simulator .simulator-qr input{
        margin: auto !important;
        width: 100% !important;
    }

    .input-search-all-result{
        display: grid !important;
    }

    .simulator .simulator-qr .rep-type-0, .simulator .simulator-qr .rep-type-1, .simulator .simulator-qr .rep-type-2 {
        display: block !important;
    }
    
    .div-det-acc .fieldSets .ow-tabpanel-flex
    {
      padding: 0px 12px;
      margin-right: -7.5%;
      margin-left: -7.5%;
    }
        
    .fieldSets .p-list-but .gen-num-html span{
        width: 50px;
        height: 50px;
        line-height: 355%;
    }
    
    .fieldSets .p-list-but .gen-num-html .fas,.fieldSets .p-list-but .gen-num-html .far{
        font-size: 50px;
        margin-bottom: 3px;
    }
       
}
       


.butt-otm span{
 	background: #38a;
 	padding: 7px;
 	color: #fff;
 	border-radius: 3px;
 }
 
 .butt-otm span:hover{
 	color: #38a;
 	padding: 7px;
 	background: #fff;
	 border-radius: 3px;
 }

.pagination-otm,.pagination-otm-search,.pagination-word-list{
    margin-top: 16px;
    font-size: 14px;
    text-align: center !important;
}

.pagination-otm-search{
    margin-top: 55px;
}


.pagination-otm a ,.pagination-otm-search a,.pagination-word-list a{
    color: inherit !important;
    padding: 8px 10px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #eee;
    border-right: none;
}

.pagination-otm a:last-child ,.pagination-otm-search a:last-child,.pagination-word-list a:last-child{
    border-right: 1px solid #eee;
    border-radius:0 3px 3px 0;
}


.pagination-otm a:first-child ,.pagination-otm-search a:first-child,.pagination-word-list a:first-child{
    border-radius: 3px 0 0 3px;
}

.pagination-otm a:hover:not(.active),.pagination-otm-search a:hover:not(.active),.pagination-word-list a:hover:not(.active) {background-color: #ddd;}

.pagination-otm a.active ,.pagination-otm-search a.active,.pagination-word-list a.active{
  background-color: #38B;
  color: white !important;
}

.dashbord-right .d2 .mlt-search .content {
    height: 322px;
}

.extract-notes-button{
    border: 1px solid #ccc;
    background-color: beige;
    padding: 1px 5px;
    border-radius: 3px;
    margin-right: 3px
}

.stat-dashbord .fieldSets .ow-tabpanel-flex .ow-label-pl {
    color: #888;
    text-align: left;
}

.stat-dashbord .fieldSets .ow-pl-inner{
    padding: 30px 39px 35px 39px;
    color: #999;
    text-align: center;
}

#retageHomePage button.ow-button.float{
    margin-left: 80%;
    position: relative;
}
#retageHomePage .search_Button {
    color: #757777 !important;
}

#retageHomePage .hp-search_btn {
 height: 36px;
    width: 119px;
    border: 1.8px solid;
    border-radius: 0.5em;
    /* border-radius: 6px; */
    font-weight: bold;
    letter-spacing: 1.1px;
    background: #ededed;
    color: #3388AA;
    /* border: 5px #3388AA; */
    margin: 4px;
}

#retageHomePage .hp-search_btn:hover {
    background: var(--form-button-fg);
	color: white;
}
#retageHomePage .search_buttonAR_ar {
     background: var(--form-button-fg);
	color: white;
}
#retageHomePage .search_buttonFR_fr {
     background: var(--form-button-fg);
	color: white;
}

#retageHomePage .hp-sbox-big-title {
    font-size: 1.35rem;
    font-weight: bold;
    color: var(--fg0);
    text-align: center;
    margin: 0.5rem 0 0 1rem;
}
#retageHomePage .hp-sbox-text {
    font-size: 1rem;
    display: block;
    color: var(--fg1);
    margin-left: 1rem;
    margin-right: 2rem;
    text-align: left;
    margin-top: 10px;
}

#retageHomePage .hp-sbox-big-title-ar {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--fg0);
    text-align: center;
    margin: 0.5rem 0 0 1rem;
}

#retageHomePage .hp-sbox-text-ar {
    font-size: 1.0rem;
    display: block;
    color: var(--fg1);
    margin-left: 1rem;
    margin-right: 2rem;
    text-align: left;
    margin-top: 10px;
	text-align: right;
	word-wrap: break-word;
}
#retageHomePage .res-div-height-ar {
	 height: 44%;
}

#retageHomePage-ar  {
 font-family: Droid Arabic Kufi, sans-serif;
  font-size: 1.2em;
}
#retageHomePage .search_buttonAR_ar .ow-btn-label {
        font-family: Noto Kufi Arabic;
    font-size: 13px;
}
#retageHomePage .search_buttonAR_fr .ow-btn-label {
        font-family: Noto Kufi Arabic;
    font-size: 13px;
}
#retageHomePage .support {
    width: 85%;
    margin: auto;
    margin-top: 28px;
}
#retageHomePage .header_lang_btn{
	grid-template-columns: 50% auto;
    display: flex;
    justify-content: center;
}
#retageHomePage .header_logo{
       justify-content: center;
    display: flex;
    margin-top: 3px;
    margin-bottom: 2px;
	
}
#retageHomePage #footerBanner {
    width: 100% !important;
    height: 139px !important;
	background: url(../img/rokhas_footer.png) no-repeat center;
    margin-top: 0px !important;
    border-bottom: 0px solid #FFFFFF !important;
    box-sizing: border-box !important;
    background-size: 300px auto;
    background-position-y: 30px;
	
}
#retageHomePage .item {
	color: white;
	*    padding-left: 9px;
    *padding-right: 9px;
}
#retageHomePage #shareFooter,#retageHomePage #footerBanner {
    background-color: #2d2d2d;
}

#retageHomePage #shareFooter {
    width: 100%;
    margin: auto;
    margin-top: 50px;
}
#retageHomePage #footerMenu {
    background: #2d2d2d;
    overflow: hidden;
    width: 100%;
    height: 40px;
	
}

#retageHomePage .providerMention {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 35px;
    margin-left: 10px;
	background-color: #2d2d2d;
}

#retageHomePage span.contact:before {
    content: "\f095";
    font-family: FontAwesome;
    margin-right: 8px;
}
#retageHomePage span.security:before {
    content: "\f023";
    font-family: FontAwesome;
    margin-right: 8px;
}
#retageHomePage span.legales:before {
    content: "\f0e3";
    font-family: FontAwesome;
    margin-right: 8px;
}
#retageHomePage span.faq:before {
    content: "\f059";
    font-family: FontAwesome;
    margin-right: 8px;
}
#retageHomePage .footer_acess_icon {
    grid-template-columns: 25% 25% 25% 25%;display: grid;
	 padding-left: 20%;
}
#retageHomePage .support-time-ar {
    font-size: 12px;
    display: block;
    position: relative;
    bottom: -40px;
}
@media screen and (max-width: 900px){
#retageHomePage .ow-gbox {
    display: contents;
}
#retageHomePage .btn-link-prod {
    display: flex;
	justify-content: center;
}
#retageHomePage-ar  .t4 {
	width: 100% !important;
}
#retageHomePage .item.order0 {
	color: white;
	padding-left: 27%;
}
#retageHomePage .providerMention {
	display:flex;
}
#retageHomePage .footer_acess_icon {
    grid-template-columns: 63% 45% 58% 25%;
    display: grid;
}
#retageHomePage .separate_div {
    width:30%;
}
#retageHomePage .support-time-ar {
    font-size: 12px;
    display: block;
    position: relative;
    bottom: 0px;
}

}
#retageHomePage .footer_logo{
       justify-content: center;
    display: flex;
    margin-top: 3px;
    margin-bottom: 2px;
	
	
}

/* from css file guideVideo.css */

.consultation-video{
    display: none;
}


.video-iframe{
    width: 100%;
    height: 500px;
    background:#fff;
    margin: 2px 0 2px 0;
}

 .consultation-video-title{
    font-size: 25px;
    color: #444;
    display: block;
    text-align: left;
}

 .video-description{
    text-align: justify;
    width: 95%;
    margin: auto;
}

.edit-width{
    width: 300px;
    height: 300px;
}
