/* from css file karazapps/karaz/ux/hub/dashboardsearch/model/dashboardsearch/web/DashboardSearch.css  */
  
.dashboardsearch_icone:before{
	position: relative;
	font-family: FontAwesome !important;
	content: "\f007";
	padding: 5px;
	font-size: 22px;
	top: 7px;
}


.autocomplete-items {
	width: 100%;
    cursor: pointer;
    /* position: absolute; */
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    text-align: left;
    margin-top: 10px;
    left: 0;
    font-size: 15px;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: #38a !important;
    color: #ffffff !important;
}

.span-active{
    color:#fff !important;    
}

.searchList{
    display: none;
    margin-top: -30px;
    height: 430px;
}

.searchList div.searchListD{
    list-style: none;
    margin: auto;
    width: 80%;
    cursor: pointer;
    border-bottom: none;
    text-align: left;
    margin-top: 10px;
    font-size: 13.5px;
    height: 330px;    
}

.searchList .searchListD .result-item{
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #d4d4d4;
    border-left: 12px solid #38A;
    margin-top: 2px;
    height: 77px;

}

.searchList .searchListD .result-item .titleS{
    font-size:18px; 
}

.searchList .searchListD .result-item b{
    color: #38B;
}



.searchListD .result-item:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.divSearchBar{
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
}



.searchList .nbrRes {
    color: #858383;
    width: 80%;
    margin: auto;
    font-size: 12px;
    margin-bottom: -4px;
    text-align: left;
}

.search_icon{
    position: absolute;
    color: #38B;
    cursor: pointer;
    top: 535px;
    right: 80px;
    font-size: 19px;
}


.search_icon:hover{
    color: darkgrey;
}


.searchGif{
    text-align: center;
    display: none;
}

.pagination{
    margin-top: 6px;
    font-size: 14px;
}

.pagination a {
  color: inherit !important;
  padding: 8px 10px;
  border-radius: 3px;
  text-decoration: none;
  transition: background-color .3s;
}

.searchList .searchP{
    margin-top: 3px;
}

.pagination a.active {
  background-color: #38B;
  color: white !important;
}

.searchList .grid-container {
    width: 1000px;    
    display: grid;
    grid-template-columns: auto auto auto;
}
            
.searchList .pagination a:hover:not(.active) {background-color: #ddd;}

.searchList .second-search-bar{
    height: 63px;
    position: relative;
    margin-top: 36px;
    margin-bottom: -7px;
}

.searchList .second-search-bar input{
    border: 1.7px solid #38a;
    border-radius: 5px 0px 0px 5px;
    height: 30px;
    width: 40%;
    padding-left: 7px;
}

.searchList .second-search-bar input:focus{
     outline: none;   
}

.searchList .second-search-bar i{
    border: 1.7px solid #38a;
    color: white;
    background: #38a;
    border-radius: 0px 5px 5px 0px;
    height: 16px;
    padding: 8px;
    border-left: none;
    cursor: pointer;
}


.searchList .second-search-bar i:hover{
    color: #38a;
    background: white;
    transition: .4s;
}

.searchList .back-span{
    float: left;
    cursor: pointer;
}


.searchList .back-span i{
    border: none;
    border-radius:3px 0 0 3px;
}

.searchList i.fa-eraser{
    border-radius: 0;
    background: #ddd;
    color: #38a;
}

.searchList i.fa-eraser:hover{
    color: #000;
}


.second-search-bar .autocomplete-items{
    width: 386px;
    position: relative;
    z-index: 99;
    left: 303px;
    top: -9px;
}

.autocomplete-items span{
    color: #38a;
    font-weight: 600;
}


@media (max-width: 640px) {
    .searchList .searchListD .result-item{
        height: auto;
    }
    
    .searchList div.searchListD{
        height: auto !important;
    }
    
    .searchList{
        height: auto;
    }
    
    .searchList .second-search-bar input{
       width: 65%;
        margin-top: 10px;
    }
    
    .searchList .second-search-bar .back-span{
       display: block;
       float: none;
    }
    
    .searchList .nbrRes{
        margin-top: 40px !important;
    }
    
    .searchList .autocomplete-items{
            width: 85%;
            position: relative;
            left: 0;
            z-index: 99;
            margin: auto;
            top: 2px;
    }
}

/* from css file karazapps/karaz_ux_results/karazuxresults/model/karazuxresults/web/Karazuxresults.css  */
.vpanel-title{
    text-align: left;
    margin-bottom: 30px;
}

.vpanel-title span{
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
}
.vpanel-title img{
    width: 100%;
    display: block;
    margin-top: 8px;
    margin-bottom: 30px;
}


.vpanel-body-title{
    text-align: left;
    margin-top: -5px;
    margin-bottom: 10px;
}

.vpanel-body-title span{
     

}

.vpanel-body-title i{
    margin-right:6px;
    font-size: 20px;
}

.vpanel-body-icon i{
    font-size: 204px;    
}

.full-search-list{
    height: 880px;
}

.full-search-list-item{
    position: relative;
    height: 173px !important;
    font-size: 12px;
    display: grid !important;
    grid-template-columns: 0% 30% 70%;
}

.full-search-list-item .complete-text{
    position: absolute;
    border: 1px solid black;
    font-size: 15px;
    padding: 2px 8px;
    border-radius: 2px;
    background: #f6f6f6;
    right: 0px;
    bottom: 30px;
    display:none;
}

.full-search-list-item .item-title{  
    color: white;
    width: 173px;
    height: 22px;
    background: #38a;
    transform: rotate(-90deg);
    position: relative;
    top: 55px;
    right: 97px;
    font-size: 16px;
    cursor: pointer;
}

.full-search-list-item .item-icon{
    position: relative;
}

.full-search-list-item .item-icon i.fa-file-image{
    font-size: 130px;
    color: #ccc;
}

.full-search-list-item .item-icon i.fa-cogs{
    color: white;
    background: #333;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 136px;
    line-height: 1.6;
    font-size: 24px;
    border-radius: 50%;
}

.full-search-list-item .item-body{
    text-align: left;
}



.full-search-list-item .item-body .item-body-title{
    font-size: 20px;
    color: #666;
    margin-top: 7px;
    position: relative;
}

.full-search-list-item .item-body p{
    
}

.full-search-list-item .item-body .item-body-button{
    border: none;
    position: absolute;
    right: 10px;
    bottom: 8px;
    margin-left: 0 !important;
    margin-top:0 !important;
    margin-right: 40px !important;
}


.full-search-list-item .item-body .item-body-button:hover{
    color: #666;
    background:white;
    border: 1px solid #666;
    transition: .3s;
}

.cl-orange{
    color: #f93;
}

.title-2x{
    font-size: 13px;
}

.title-4x{
    font-size: 28px;
}

.gris666{
    color: #666;
}

.full-search-list-item .item-body .c-path .p,.div-fbs-details .details-body .c-path .p{
    cursor: pointer;
}

.div-fsb-details{
    text-align: left !important;
}

.div-fsb-details .fsb-container{
    padding-left: 16px;
    display: none;
}

.div-fsb-details .details-body{
    text-align: left;
}

.div-fsb-details .c-path{
    font-size: 12px;
    margin-top: -15px;
    text-align: left;
}

.div-fsb-details p.description{
    font-size: 14px !important;
}

.div-fsb-details .tab-info i{
    font-size: 20px;
    color: #666;
}

.div-fsb-details .tab-info .tab-info-item{
    margin-bottom: 10px;
}

.header-create-account-horizontal-line {
    margin: 0px;
    height: 1px;
    border: none;
    background-color: #e3e4e5;
    flex: 1;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 3.6%;
    margin-right: 3.6%;
}


.hr-hub{
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 0% !important; 
    margin-right: 0% !important;
}

.left-box-fsb .hp-box{
    color: #ccc;
}
.left-box-fsb .hp-box{
    height: auto !important;
}

.icon-margin{
    font-size: 14px;
    margin-right: 7px;
}

.consult{
    margin-top: 4px;
    margin-bottom: 8px;
}

.consult i{
    margin-right: 8px;
    font-size: 14px !important;
}

.consult-button i{
    color: #eee !important;
}

.consult-button{
    background: #666;
    width: 105px;
    height: 25px;
    border: none;
    border-radius: 5px;                
    color: #eee !important;
}

.consult-button:hover{
    background: #888;
    transition: .3s;
}

.tab-info-item-s{
    width: 60%;
    margin: 80px auto;
}

.tab-info-item-s i{
    font-size: 14px;
    color: #999 !important;
    margin-right: 5px;
}

.tab-info-item-s span.new-search,.div-fsb-details .fsb-container .p{
    cursor: pointer;
}

.div-full-search-bar .autocomplete-items{
    width: 83%;
    cursor: pointer;
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    text-align: left;
    margin-top: 10px;
    font-size: 15px;
    right: auto;
    left: auto;
    top: auto;
}

.rokhas-home{
    cursor: pointer;
}



@media screen and (max-width: 900px){
    .full-search-list .full-search-list-item{
        display: block !important;
        height: auto !important;
    }        
    
    .full-search-list .full-search-list-item .item-body{
         margin-top: 25px;   
    }
    
    .full-search-list .full-search-list-item .item-body .item-body-button{
        float: none;
    }
    
    .tab-info-item-s{
      width: 100%;   
    }
    
    .tab-info-item-s i{
     font-size: 20px !important;   
    }
    
    .grid{
        display: block !important;
    }
    
    .grid button{
        display: block !important;
        margin-bottom: 17px;
    }
    
    .div-fsb-details .tab-info i {
        font-size: 41px;
    }
    
    .hp-small{
        margin: 10px 8px !important;
    }
    
    .hp-small .hp-box{
        margin: 10px 1px !important;
    }
    
    .full-search-list{
        height: auto !important;
    }  
}



.header-menu{
    margin-left: 14%;
    display: flex;
    color: #666;
    margin-top: 11px;
    margin-right: 7%;
    justify-content: space-around;
    font-size: 14px;
}

.header-menu button{
    border: none;
    color: inherit !important;
    background: none !important;
    font-size: 14px !important;
}


.header-menu button span.ow-btn-icon{
    font-size: 18px !important;
}


.header-menu button:hover{
    color: #38a !important;
}


.header-menu button span{
    font-size: 14px !important;
}


.stat-dashbord{
}

.stat-dashbord .hp-box{
    margin: 10px 0.5rem;
}

.stat-dashbord .stat{
    padding: 20px 20px;
    display: grid;
    grid-template-columns: 40% 60%;
}


.stat-dashbord .stat i{
    font-size: 58px;
    padding: 7px;
}

.stat-dashbord .stat span{
   font-size: 23px;
    display: block;
}

.stat-dashbord .stat-div{
}

.dashbord-right .d1 h1,.dashbord-right .d2 h1{
    margin: 25px 0 35px 0;
}

.dashbord-right .d2 .exist-word-list-item{
    grid-template-columns: 50% 30% 20%;
    display: grid;
    text-align: left;
} 


.dashbord-right .d2 .div{
    width: 80%;
    margin: auto;
    overflow: auto;
    max-height: 500px;
    margin-top: 55px;
}

.dashbord-right .d2 .word-list{
    
}
.dashbord-right .d2 .word-list-det{
    display: none;
}

.dashbord-right .d2 .word-list-det div{
    text-align: left;
}

.dashbord-right .d2 .word-list-det .back-div span{
    text-align: right !important;
    color: #38a;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
}

.dashbord-right .d2 .word-list-det .back-div span:hover{
    color: #777;
    transition: .5s;
}

.stat-dashbord .dashbord-right .d2 .word-list-det .div-d2 ul li span{
    color: #888;
    font-weight: 600 !important;
}

.main-icon-title{
    width: 80%;
    height: 140px;
    margin: auto;
    display: grid;
    grid-template-columns: 100%;
    padding: 20px 30px;
    border: 1px solid #d0d0d0;
    cursor: pointer;
}

.main-icon-title:hover{
    background-color: #f3f3f3;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.34);
}

.main-icon-title i{
    color: #38a;
    font-size: 40px;
}

.main-icon-title span{
    margin-top: 13px;
    color: #333;
    font-size: 17px;
}

