.cf .cf-2 .cf-menu{
    display: grid;
    grid-template-columns: 50% 50%;
}

.cf .cf-2 .cf-menu .cf-type-butt{
    text-align: center;
    text-align: center;
    font-size: 17px;
    border: 1px solid #eee;
    padding: 16px;
    margin-top: -10px;
    background: #eee;
    color: #38a;
    cursor: pointer
}

.cf .cf-2 .cf-menu .div-1{
    margin-left:-10px 
}

.cf .cf-2 .cf-menu .div-2{
    margin-right:-10px
}

.cf .cf-2 .cf-menu .active{
    background: #fff;
    color: #aaa;
    border-bottom: none;
}

.cf .cf-2 .clusters{
    display: grid;
    width: 55%;
    grid-template-columns: 10% 47% 3% 25%  15%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 33px;
}

.cf .cf-2 .clusters .cluster-item{
    text-align: center;
    border: 1px solid #ddd;
    color: #999;
    padding: 7px;
    
}

.cf .cf-2 .clusters .sp1,.cf .cf-2 .clusters .sp2,.cf .cf-2 .clusters .sp3,.cf .cf-2 .clusters .sp4,.cf .cf-2 .clusters .sp-sep{
    height: 36px;
    border: 1px solid #ddd;
    color: #999;
    padding-top: 7px;
    padding-bottom: 7px;
    display: block;
    border-right: none;
    text-align: center;
}

.cf .cf-2 .clusters .sp1{
    border-radius:2px 0 0 2px;
    font-size: 19px;
    height: 20px;
}

.cf .cf-2 .clusters .sp4{
    border-radius:0 2px 2px 0;
    border-right: 1px solid #ddd;
}

.cf .cf-2 .clusters .sp-sep{
    background: #999;
}

.cf .cf-1 .menu-config,.cf .cf-2 .menu-config{
    width: 97%;
    margin: auto;
    padding: 5px;
    padding-left: 19px;
    border: 1px solid #ddd;
    background: #eee;
    color: #337ab7;
    font-size: 15px;
}

.cf .cf-1 .menu-config-bottom,.cf .cf-2 .menu-config-bottom{
    width: 97%;
    margin: auto;
    padding: 3px;
    border: 1px solid #ddd;
    background: #eee;
    color: #337ab7;
    margin-bottom: 39px;
}

.cf .cf-1 .menu-config .item{
    
}

.cf .cf-1 .tab,.cf .cf-2 .tab{
    margin: auto;
    width: 97%;
    max-height: 570px;
    overflow: auto;
}

.cf .cf-2 .tab{
    max-height: 470px;
}

.cf .cf-1 .tab .item,.cf .cf-2 .tab .item{
    display: grid;
    grid-template-columns: 5% 95%;
    font-size: 13px;
    border: 1px solid #ddd;
    padding: 6px;
    padding-left: 13px;
    border-top: none;
}

.cf .cf-1 .tab .item .check,.cf .cf2 .tab .item .check{
    text-align: center
}

.cf .cf-1 .tab .item .note{
    
}

.cf .cf-1 .menu{
    display: grid;
    grid-template-columns: 75% 25%;
    margin: auto;
    width: 97%;
    margin-top: 20px;
}

.cf .cf-1 .menu .config{
    padding-top: 10px;
}

.cf .cf-1 .menu .config span{
    font-size: 15px;
    color: #38a;
    cursor: pointer;
}

.cf .cf-1 .menu .acc{
    text-align: center;
    display: grid;
    grid-template-columns: 20% 40% 40%
}

.cf .cf-1 .menu .acc i{
    border: 1px solid #eee;
    padding: 5px;
    margin-bottom: 8px;
    color: #fff;
    background: #38a;
    display: block;
}

.cf .cf-1 .menu .acc span{
    border: 1px solid #eee;
    padding: 3px;
    margin-bottom: 8px;
    display: block;
    cursor: pointer;
    font-size: 14px;
}

.cf .cf-1 .menu .acc span.active{
    background: #eee;
}