.simulator-cms{
    display: block;
    margin: 10px 2rem;
    color: var(--fg1);
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 3px 3px 3px #0004;
    border: 1px solid #DDD;
    height: 800px;
    box-sizing: border-box;
}


.simulator-cms .navbar-sim-cms{
    border: 1px solid #eee;
}

.simulator-cms .navbar-sim-cms-item{
    display: grid;
    grid-template-columns: 13% 90%;
    padding: 6px;
    border: 1px solid #eee;
    background: #fff;
    cursor: pointer;
}

.simulator-cms .navbar-sim-cms-item:hover{
    background: #efefef; 
}

.simulator-cms .active{
    background: #eee;
}

.simulator-cms .navbar-sim-cms-item i{
    padding: 4px;
}

.simulator-cms .navbar-sim-cms-item span{
    padding: 2px;
}


.simulator-cms .container-sim-cms .container-1{
    margin: 3px;
    background: #fff;
    width: 98%;
    height: 749px;
}



.simulator-cms .container-sim-cms .container-2,.simulator-cms .container-sim-cms .container-3,.simulator-cms .container-sim-cms .container-4{
    margin: 3px;
    background: #fff;
    width: 98%;
    height: 749px;
    padding-top: 30px;
    display: none;
}


.simulator-cms .container-sim-cms .container-2 .container-docs,.simulator-cms .container-sim-cms .container-3 .container-steps{
    margin-left: 31px;
    width: 51%;
    overflow: auto;
    max-height: 599px;
    font-size: 16px;
    margin-top: 35px;
}

.simulator-cms .container-sim-cms .container-2 .container-docs .item,.simulator-cms .container-sim-cms .container-3 .container-steps .item{
    border: 1px solid #eee;
    display: grid;
    width: 95%;
    margin: auto;
    grid-template-columns: 8% 72% 10% 10%;
}

.simulator-cms .container-sim-cms .container-2 .container-docs .item i,.simulator-cms .container-sim-cms .container-3 .container-steps .item i{
    padding : 5px;
}

.simulator-cms .container-sim-cms .container-2 .add-doc-class,.simulator-cms .container-sim-cms .container-3 .add-doc-class {
    width: 91%;
    margin: auto;
    color: #38a;
    cursor: pointer;
    margin-top: 15px;
}

.simulator-cms .side-bar{
    margin: 3px;
    height: 792px;
}

.simulator-cms .container-sim-cms .container-4 table.tab-matrix{
    width: 90%;
    margin: auto;
    overflow: auto;
    height: 600px;
}


.simulator-cms .container-sim-cms .container-4 table.tab-matrix tr th{
    border: 1px solid #ddd;
    padding: 7px;
    background: #eee;
    text-align: center;
}

.simulator-cms .container-sim-cms .container-4 table.tab-matrix tr td{
    border: 1px solid #ddd;
    padding: 7px;
    text-align: center;
}

.simulator-cms .container-sim-cms .container-1 .button-upload-es{
    text-align: center;
    padding: 14px;
    position: relative;
}

.simulator-cms .container-sim-cms .container-1 .button-upload-es button{
    color: white;
    background: red;
    font-size: 16px;
    border: none;
    padding: 0;
    border-radius: 2px;
}

.simulator-cms .container-sim-cms .container-1 .button-upload-es button span{
    padding: 6px;
    display: block;
}

.simulator-cms .container-sim-cms .container-1 .button-upload-es button span.active{
    background-color: rgba(0,0,0,0.5);
}

.simulator-cms .container-sim-cms .container-1 .button-upload-es span.valide{
    position: absolute;
    margin: 6px;
    margin-left: 15px;
    color: green;
    font-size: 15px;
}

.simulator-cms .side-bar .header{
    height: 100px;
    border: 1px solid #eee;
    text-align: center;
    padding: 15px;
    background: #fff;
}



.simulator-cms .side-bar .header i{
    font-size: 45px;
    padding: 9px;
    color: #38a;
}

.simulator-cms .side-bar .header span{
    font-size: 32px;
    color: #38a;
}



.simulator-cms .side-bar .body{
    height: 750px;
    font-size: 16px;
}

.simulator-cms .side-bar .body .div-1,.simulator-cms .side-bar .body .div-2,.simulator-cms .side-bar .body .div-3,.simulator-cms .side-bar .body .div-4{
    border: 1px solid #eee;
    padding: 15px;
    background: #fff;
    height: 340px;
    margin-top: 6px;
}

.simulator-cms .side-bar .body .div-5,.simulator-cms .side-bar .body .div-6,.simulator-cms .side-bar .body .div-7{
    border: 1px solid #eee;
    padding: 15px;
    background: #fff;
    height: 340px;
    margin-top: 6px;
}

.simulator-cms .side-bar .body .div-3,.simulator-cms .side-bar .body .div-4,.simulator-cms .side-bar .body .div-5,.simulator-cms .side-bar .body .div-6,.simulator-cms .side-bar .body .div-7{
    display: none;
}

.simulator-cms .side-bar .body .cms-form input,
.simulator-cms .side-bar .body .cms-form-2 input{
    border: none;
    text-align: center;
    background: inherit;
}

.simulator-cms .side-bar .body .cms-form-2 input.reponses,.simulator-cms .side-bar .body .cms-form-2 input.placeholder{
    width: 95%;
    border: 1px solid #eee;
    padding: 7px;
    text-align: left;
}


.simulator-cms .side-bar .body  .cms-form select,.simulator-cms .side-bar .body  .cms-form-2 select{
    width: 100%;
    height: 34px;
    border-radius: 2px;
    border: 1px solid #eee;

}

.simulator-cms .side-bar .body .cms-form div.class-responses div.responses-sim-cms .link-sim-cms{
    background: aliceblue;
    border-radius: 2px;
    padding: 2px 5px;
}

.simulator-cms .side-bar .body  .div-2 .cms-form select,.simulator-cms .side-bar .body  .div-3 .cms-form-2 select{
    border: 1px solid #eee;
}

.simulator-cms .side-bar .body  .cms-form .form-grid,.simulator-cms .side-bar .body  .cms-form-2 .form-grid{
    display: grid;
    grid-template-columns: 30% 70%;
}

.simulator-cms .side-bar .body .cms-form div.class-responses div.responses-sim-cms,.simulator-cms .side-bar .body .cms-form-2 div.class-responses div.responses-sim-cms{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.simulator-cms .side-bar .body .cms-form div.form-grid span,.simulator-cms .side-bar .body .cms-form-2 div.form-grid span{
    border: 1px solid #eee;
    padding: 5px;
}

.simulator-cms .side-bar .body  .cms-form div.form-grid i{
    padding: 5px;
}

.simulator-cms .side-bar .body  .cms-form .class-responses,.simulator-cms .side-bar .body  .cms-form .class-responses-q {
    padding: 6px;
    border: 1px solid #eee;
}

.simulator-cms .side-bar .body  .cms-form .class-update-button,.simulator-cms .side-bar .body  .cms-form-2 .class-update-button {
    margin-top: 14px;
    text-align: right;
    padding: 7px;
}

.simulator-cms .side-bar .body  .cms-form .class-update-button button ,
.simulator-cms .side-bar .body  .cms-form-2 .class-update-button button {
    background: #38a;
    border: none;
    color: white;
    padding: 6px;
    border-radius: 2px;
    font-size: 15px;
}


.simulator-cms .side-bar .body .cms-form .header-cms-form,.simulator-cms .side-bar .body .cms-form-2 .header-cms-form{
    border: 1px solid #eee;
    padding: 5px;
    text-align: center;
    background: #eee;
    font-size: 18px;
    /*border-radius: 4px 4px 0 0;*/
}

.simulator-cms .side-bar .body .div-1 .link-sim-cms{
    color: #38a;
    cursor: pointer;
}

.simulator-cms .side-bar .body .div-2{
    
}

.simulator-cms .side-bar .body1{
    padding: 10px;
    border: 1px solid #eee;
    background: #fff;
    height: 692px;
    display: none;
}

.simulator-cms .side-bar .body1 .docs-in .header-doc{
    display: grid;
}
.simulator-cms .side-bar .body1 .docs-in .header-doc span{
    padding: 7px;
    border: 1px solid #eee;
    background: #fff;
    width: 95%;
    font-size: 15px;
    margin: auto;
}

.simulator-cms .side-bar .body1 .docs-in .header-doc span.active{
    background: #eee;
}

.simulator-cms .side-bar .body1 .docs-in .header-doc span i{
    margin-right: 6px;
}
.simulator-cms .side-bar .body1 .docs-in .docs-added{
    border: 1px solid #eee;
    width: 95%;
    margin: auto;
    height: 200px;
    overflow: auto;
    padding: 10px;
}

.simulator-cms .side-bar .body1 .docs-in .separate{
    width: 95%;
    border: 1px solid #eee;
    margin: auto;
    background: #eee;
    height: 5px;
}

.simulator-cms .side-bar .body1 .docs-in .docs-list{
    border: 1px solid #eee;
    width: 95%;
    margin: auto;
    height: 260px;
    overflow: auto;
    padding: 10px;
}

.simulator-cms .side-bar .body1 .docs-in .docs-in-buttons{
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}

.simulator-cms .side-bar .body1 .docs-in .docs-in-buttons button.save{
    border: none;
    color: white;
    background: #38a;
    border-radius: 2px;
    padding: 5px;
}

.simulator-cms .side-bar .body1 .docs-in .doc-item {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    width: 92%;
    margin: 7px auto;
    font-size: 15px;
    color: #38a;
}


.simulator-cms .side-bar .body1 .docs-in .doc-item i {
    padding: 3px;
}

.simulator-cms .side-bar .body1 .docs-in .doc-item i.fa-close,.simulator-cms .side-bar .body1 .docs-in .doc-item i.fa-plus {
    cursor: pointer;
}